$('.cook-rating-modal-body').html(`
    <div class="modal-body-header">
        <h4 class="bold modal-body-header-headline text-center">Thank you for your feedback!</h4>
    </div>
    
    <div id="cook-avi" class="cursor-pointer add-margin-top"
        onclick="window.location.href='/c/<%= @cook.username %>'"
        style="height: 60px; width: 60px; margin: auto;
                overflow: hidden; border-radius: 30px;
                border: 0.5px solid #e7e7e9;">
        <img src="<%= @cook.image.url %>" alt="cook"
            style="height: auto; width: inherit;">
    </div>
    
    <div class="star-rating" align="center" style="margin-top: 20px;">
        <%= render 'chefs/rated' %>
    </div>
`);

$('.cook-rating').html(`
    <% 5.times.each_with_index do |s, idx| %>
        <span class="star">
            <i class="<%= star_rating(idx + 1, @cook) %> theme-cyan"
                style="font-size: 11px;"></i>
        </span>
    <% end %>
    <span class="rating-count" style="font-size: 12px;">
        <%= @cook.rating_count %>
    </span>
`);