<section id="meal-search-results">
    <div class="row">
        <div class="col-md-6" style="width: 100%;">
            <h5>
                <a class="background-transparent theme-cyan"
                    href="/category/<%= params[:meal_type] %>">
                    <%= !params[:meal_type].present? ? 'All' : params[:meal_type].capitalize %></a>
                    listings near <%= params[:request_location].capitalize %>
            </h5>
        </div>
        
        <div class="col-md-3">
            <% if @filter_data %>
                <button class="btn btn-secondary btn-block" id="clear-filters-btn"
                    onclick="clearFilters(this)">
                    <i class="fa fa-times-circle-o"></i> Clear filters
                </button>
            <% end %>
        </div>
        
        <div class="col-md-3">
            <button class="btn btn-warning btn-block" onclick="showFiltersBox()">
                <i class="fa fa-filter"></i> Add filters
            </button>
        </div>
        
        <div class="col-md-12">
            <%= render 'common/filters_box' %>
        </div>
        
        <div class="col-md-12">
            <hr style="margin-top: 10px; margin-bottom: 10px;">
        </div>
    </div>
    
    <div>
        <% if @meals.present? %>
            <div class="row">
                <%= render partial: 'meals/meals', locals: { meals: @meals } %>
            </div>
        <% else %>
            <%= render 'meals/no_meal' %>
        <% end %>
    </div>
    
    <div class="row">
        <div class="col-md-12" align="center">
            <p>Showing <%= pluralize(@meals.size, 'result') %></p>
        </div>
    </div>
</section>