<section id="store-signup" class="container" style="padding-bottom: 30px;">
  <div class="row">
    <div class="col-md-6 offset-md-3" style="padding: 0 45px !important;">
      <% flash.each do |name, msg| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <div class="card">
        <div class="card-body">
          <% if request.original_url.include?('chef') %>
            <div class="header">
              <h5 class="text-center medium-gray">chef signup</h5>
              <hr style="height: 2px; background-color: #F27649; border-color: #F27649; width: 15%; margin: auto !important;">
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <% if !devise_error_messages!.empty? %>
                  <div id="error_explanation">
                    <ul>
                      <li><%= devise_error_messages! %></li>
                    </ul>
                  </div>
                <% end %>
                
                <div class="field">
                  <%= f.text_field :first_name, class:"form-control height-50 no-box-shadow", autofocus: true, placeholder:"First name" %>
                </div>
                <div class="field">
                  <%= f.text_field :last_name, class:"form-control height-50 no-box-shadow", autofocus: true, placeholder:"Last name" %>
                </div>
                <div class="field">
                  <%= f.email_field :email, class:"form-control height-50 no-box-shadow", autofocus: true, placeholder:"Email" %>
                </div>
              
                <div class="field">
                  <%= f.password_field :password, class:"form-control height-50 no-box-shadow", autocomplete: "off", placeholder:"Password" %>
                </div>
                <div class="field">
                  <%= f.password_field :password_confirmation, class:"form-control height-50 no-box-shadow", autocomplete: "off", placeholder:"Password confirmation" %>
                </div>
              
                <div class="actions" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-md-12">
                      <%= f.submit "Create account", class:"btn btn-primary btn-block box-shadow height-50", data: {"disable-with": "Creating your account..."} %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <% if !devise_error_messages!.empty? %>
                  <div id="error_explanation">
                    <ul>
                      <li><%= devise_error_messages! %></li>
                    </ul>
                  </div>
                <% end %>
                
                <div class="field">
                  <%= f.text_field :first_name, class:"form-control height-50 no-box-shadow", autofocus: true, placeholder:"First name" %>
                </div>
                
                <div class="field">
                  <%= f.text_field :last_name, class:"form-control height-50 no-box-shadow", autofocus: true, placeholder:"Last name" %>
                </div>
                
                <div class="field">
                  <%= f.email_field :email, class:"form-control height-50 no-box-shadow", autofocus: true, placeholder:"Email" %>
                </div>
              
                <div class="field">
                  <%= f.password_field :password, class:"form-control height-50 no-box-shadow", autocomplete: "off", placeholder:"Password" %>
                </div>
              
                <div class="actions" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-md-12">
                      <%= f.submit "Create an account", class:"btn btn-primary btn-block box-shadow height-50", data: { "disable-with": "Creating your account..." } %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
