<style>
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-md-12, .col-md-8, .offset-md-2, .col-md-4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .text-center {
        text-align: center;
    }
    
    .add-padding-top {
        padding-top: 10px;
    }
    
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    
    .card-header {
        font-size: 16px;
        background-color: transparent;
        color: #F27649;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    
    .card-footer {
        border-top: 1px solid rgba(0,0,0,.125);
    }
</style>

<div class="row" style="font-family: 'Ubuntu', sans-serif !important;">
    <div class="col-md-12 text-center">
        <h3>Thank you for placing your order!</h3>
    </div>
    <div class="col-md-12 add-padding-top text-center">
        <p>You will receive a confirmation email with your order details shortly.</p>
    </div>
    <div class="col-md-12 add-padding-top text-center">
        <p>Order #: <b style="color: #F27649 !important;"><%= @order.confirmation %></b></p>
    </div>
    <div class="col-md-8 offset-md-2" style="padding: 0 250px;">
        <div class="card">
            <div class="card-body" style="padding: 15px;">
                <h2 class="text-center"><%= @cart.get_store.name %></h2>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <% @cart.item_list.split(', ').each_with_index do |i, idx| %>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="font-18">
                                <span class="float-left" style="float: left;">
                                    <span style="margin-right: 5px;">
                                        <span class="theme-green bold"><%= @cart.item_list_count.split(', ')[idx] %></span> x
                                    </span>
                                    <span>
                                        <%= @cart.item_list_name.split(', ')[idx] %>
                                    </span>
                                </span>
                                <span class="float-right" style="float: right;">
                                    <span>
                                        $<%= @cart.cost_for(i) %>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                <% end %>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <div class="row">
                    <div class="col-md-12 add-margin-bottom">
                        <p class="font-18">
                            <span class="float-left" style="float: left;">
                                Subtotal
                            </span>
                            <span class="float-right" style="float: right;">
                                $<%= @cart.total_cost.to_f.round(2) %>
                            </span>
                        </p>
                    </div>
                    <% if @order.delivery_option.downcase == 'delivery' %>
                        <div class="col-md-12 add-margin-bottom">
                            <p class="font-18">
                                <span class="float-left" style="float: left;">
                                    Delivery
                                </span>
                                <span class="float-right" style="float: right;">
                                    <%= @cart.get_store.get_delivery_fee %>
                                </span>
                            </p>
                        </div>
                    <% end %>
                    <div class="col-md-12">
                        <p>
                            <span class="float-left" style="float: left;">
                                Taxes & Fees
                            </span>
                            <span class="float-right" style="float: right;">
                                $<%= @cart.calculate_fees(@order.delivery_option).round(2) %>
                            </span>
                        </p>
                    </div>
                </div>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-18">
                            <span class="float-left bold" style="float: left;">
                                Total
                            </span>
                            <span class="float-right bold theme-green" style="float: right;">
                                $<%= @cart.calculate_final(@order.delivery_option).round(2) %>
                            </span>
                        </p>
                    </div>
                </div>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-18" style="font-style: bold;"><%= @order.delivery_option %> for:</p>
                    </div>
                    <div class="col-md-12">
                        <p class="bold"><%= @order.contact_name %></p>
                        <p><%= @order.phone_number %></p>
                        <p><%= @order.address if !@order.address.empty? %></p>
                    </div>
                </div>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-18">Delivery time:</p>
                    </div>
                    <div class="col-md-12">
                        <% if !@order.delivery_time.empty? && @order.delivery_time.downcase == 'asap' %>
                            <p><b>ASAP</b></p>
                        <% else %>
                            <p><b><%= @order.delivery_day %></b> between <b><%= @order.delivery_time %></b></p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>