var config = {
    apiKey: "AIzaSyDtkPxyakU5Nb1YO6daAGGytItWoeNL5vM",
    authDomain: "senzzu-d2fbe.firebaseapp.com",
    databaseURL: "https://senzzu-d2fbe.firebaseio.com",
    projectId: "senzzu-d2fbe",
    storageBucket: "senzzu-d2fbe.appspot.com",
    messagingSenderId: "312266021503"
};

if (!firebase.apps.length) {
    firebase.initializeApp(config);
}

var firestore = firebase.firestore();
var settings = {timestampsInSnapshots: true};
firestore.settings(settings);

var type = "<%= @type %>";

if (type === "update-shopper") {
    firestore.collection("shoppers").doc("<%= @shopper_uid %>").set({
        email: "<%= @shopper_email %>",
        phone: "<%= @shopper_phone %>",
        address: "<%= @shopper_address %>",
        apartment_number: "<%= @apartment_number %>",
        name: "<%= @shopper_name %>"
    }, {merge: true}).then(success => {
        $('#updateShopperBtn').css('opacity', '1').html('Update account details');
        toastr.success("Account updated!");
    })
    .catch(error => {
        console.error('An error occurred');
    });
} else if (type === "unfavorite") {
    firestore.collection("favorites").doc("<%= @doc_id %>").delete()
    .then((success) => {
        toastr.success("Store removed from favorites.");
        $('#storeFavoriteCard<%= @store_id %>').remove();
        if ($('#shopperFavorites').text().trim().length == 0) {
            $('#shopperFavorites').html(`
                <div class="col-md-12 text-center">
                    <h6 class="theme-color">You currently have no favorites</h6>
                </div>
            `);
        }
    }).catch((error) => {
        toastr.warning("Unable to remove store from favorites. Please try again.");
    });
} else if (type === "favorite") {
    var data = {
        store_id: <%= @store_id %>,
        shopper_id: "<%= @shopper_uid %>"
    };
    firestore.collection("favorites").add(data)
    .then((success) => {
        toastr.success("Store added to favorites!");
        $.get('/log_favorite', { store_id: <%= @store_id %>, shopper_id: "<%= @shopper_uid %>" });
    }).catch((error) => {
        toastr.warning("Unable to remove store from favorites. Please try again.");
    });
} else if (type === "review") {
    console.log("<%= "#{@content}" %>");
    var data = {
        store_id: <%= @store_id %>,
        shopper_id: "<%= @shopper_uid %>",
        content: "<%= @review.content %>",
        author: "<%= @review.author %>"
    };
    console.log(data);
    firestore.collection("reviews").add(data)
    .then((success) => {
        toastr.success("Your review has been added!");
        $('#firstReview').remove();
        $("#all_reviews").prepend(`
            <div class="col-md-12">
                <p style="font-size: 14px;">
                    <em>"<%= @review.content %>"</em>
                </p>
                <p style="font-size: 14px;" class="text-right">
                    - <%= @review.author %>
                </p>
            </div>
        `);
        document.querySelector('#reviewInput').value = "";
        $('#submitReviewBtn').html(`
            <i class="fa fa-paper-plane"></i>
        `);
    }).catch((error) => {
        toastr.warning("Your review could not be added. Please try again.");
    });
}