<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="application.css">
    <link rel="stylesheet" href="library.css.scss">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400" rel="stylesheet">
  </head>
  <body style="padding: 30px; font-family: 'roboto', sans-serif;">
    <section class="row" style="margin: 0;">
      <div class="col-lg-6 offset-lg-3">
        <a class="navbar-brand cursor-pointer" href="https://dinnerhost.co">
          <img src="https://s3.us-east-2.amazonaws.com/dinnerhost/static/dinnerhost_logo.png" height="50">
        </a>
        
        <p style="margin-top: 30px; font-size: 17px;">
            Great news <%= @diner.first_name %>,<br /><br />
            <%= @chef.first_name %> has accepted your reservation request!
        </p>
        
        <div class="card" style="border: 0.5px solid #e7e7e9;
          border-radius: 2px;">
          <div class="card-header"
            style="background-color: #1cc7c7; padding: 0.25rem 1.25rem; border-bottom: 1px solid gray;">
            <h5 style="color: #fff;">**Here's what you will need to have ready:</h5>
          </div>
          <% @ingredients.each do |i| %>
            <div style="padding: 1.25rem; border-bottom: 1px solid #e7e7e9;">
                <%= i.name %> (<%= i.quantity %>)<br />
                <% if i.additional_details.present? %>
                    <span class="text-muted">
                        <%= "Note: " + i.additional_details %>
                    </span>
                <% end %>
            </div>
          <% end %>
          <div class="card-footer" align="right"
            style="background-color: #e7e7e9;
                  padding: 0.75rem 1.25rem;
                  border-top: 1px solid gray;
                  text-align: right;">
            <a href="https://dinnerhost.co/booking-accepted?reservation=<%= @reservation.id  %>"
              class="btn white mobile-block-display" style="margin-top: 30px; display: inline-block;
                font-weight: 400;
                text-align: center;
                cursor: pointer;
                white-space: nowrap;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border: 1px solid transparent;
                padding: 10px 20px;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 2px;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                background-color: #007bff;
                border-color: #007bff;
                color: #fff;
                font-size: 16px;">
              View Details
            </a>
          </div>
        </div>
        
        <p style="margin-top: 30px; font-size: 17px;">
          <b>**These ingredient quantities serve 2 people.</b>
        </p>
        
        <p style="margin-top: 30px; font-size: 17px;">
          Bon Appetit,<br />
          The DinnerHost Team
        </p>
      </div>
    </section>
  </body>
</html>