<section id="author" style="padding-top: 60px; padding-bottom: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card box-shadow" style="margin-bottom: 30px;">
                    <div class="card-body" style="background-color: #cce4ff; z-index: 0 !important;">
                        <div class="text-center" style="margin-top: -100px; background: transparent; border: none;">
                            <img src="<%= @admin.profile_image %>" class="box-shadow" style="height: 160px; width: 160px; border-radius: 80px; z-index: 1 !important;">
                        </div>
                        <div class="text-center add-margin-top">
                            <h5><%= @admin.name %></h5>
                            <p class="bold add-margin-top">About</p>
                            <p class="">
                                <em><%= @admin.bio %></em>
                            </p>
                        </div>
                    </div>
                </div>
                <h5>Posts by this author</h5>
                <div class="row">
                    <% @articles.each do |a| %>
                        <div class="col-md-6">
                            <div class="card box-shadow" style="border-radius: 5px !important; min-height: 100%;">
                                <a class="theme-color" href="/blog/<%= a.id %>/<%= a.slug %>">
                                    <div class="card-header"
                                        style="height: 100px;
                                            background-image: url('<%= a.banner_image %>');
                                            background-size: cover; background-position: center;">
                                        <span class="badge badge-success no-border-radius"
                                            style="bottom: 0; right: 0;">
                                            <%= a.category %>
                                        </span>
                                    </div>
                                </a>
                                <div class="card-body font-14" style="padding: 15px;">
                                    <p>Article</p>
                                    <h6 class="add-margin-bottom add-margin-top">
                                        <a class="theme-color" href="/blog/<%= a.id %>/<%= a.slug %>">
                                            <%= a.title %>
                                        </a>
                                    </h6>
                                    <p class="font-14">
                                        By
                                        <span class="theme-color">
                                            <%= link_to a.author, admin_path(:id => a.admin_id), class:"theme-color" %>
                                        </span>
                                        <%= a.updated_at.strftime('%B %e, %Y') %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>