<div class="display-flex mobile-block-display">
    <div class="col-lg-3 no-padding">
        <div class="dropdown">
            <button class="btn btn-secondary background-transparent text-muted btn-block
                load-reservations-dropdown"
                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="float-left">
                    Pending (<%= @reservations.pending.count %>)
                </span>
                <span class="float-right">
                    <i class="fa fa-angle-down"></i>
                </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                style="padding-top: 0; padding-bottom: 0;" id="chef-reservations-sorting-btn">
                <a class="dropdown-item cursor-pointer"
                    onclick="$.get('/load_reservations', { category: 'pending' });">
                    Pending (<%= @reservations.pending.count %>)
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item cursor-pointer"
                    onclick="$.get('/load_reservations', { category: 'upcoming' });">
                    Upcoming (<%= @reservations.upcoming.count %>)
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item cursor-pointer"
                    onclick="$.get('/load_reservations', { category: 'denied' });">
                    Rejected (<%= @reservations.denied.count %>)
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item cursor-pointer"
                    onclick="$.get('/load_reservations', { category: 'completed' });">
                    Completed (<%= @reservations.completed.count %>)
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item cursor-pointer"
                    onclick="$.get('/load_reservations', { category: 'cancelled' });">
                    Cancelled (<%= @reservations.cancelled.count %>)
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 offset-lg-7 no-padding add-margin-top-mobile">
        <div class="dropdown">
            <button class="btn btn-secondary background-transparent text-muted btn-block
                sort-reservations-dropdown"
                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="float-left">
                    Sort By
                </span>
                <span class="float-right">
                    <i class="fa fa-angle-down"></i>
                </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                style="padding-top: 0; padding-bottom: 0;">
                <a class="dropdown-item sort-by-date cursor-pointer"
                    onclick="$.get('/sort_reservations', { sort_by: 'request_period', load: 'all' });">
                    Date Requested
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item sort-by-total cursor-pointer"
                    onclick="$.get('/sort_reservations', { sort_by: 'price', load: 'all' });">
                    Total
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<!--<div class="col-lg-2 offset-lg-5">-->
<!--    <button class="btn btn-secondary background-transparent text-muted btn-block">-->
<!--        <span class="float-left">-->
<!--            Download CSV-->
<!--        </span>-->
<!--        <span class="float-right">-->
<!--            <i class="fa fa-download"></i>-->
<!--        </span>-->
<!--    </button>-->
<!--</div>-->
</div>

<div>
    <div class="col-lg-12 no-mobile-padding">
        <div class="dh-card" style="padding-top: 0;">
            <div id="reservation-payouts">
                <%= render partial: 'payout_reservations', locals: { reservations: @reservations.pending } %>
            </div>
        </div>
    </div>
</div>

<!--<table>-->
<!--  <tr>-->
<!--    <th>Company</th>-->
<!--    <th>Contact</th>-->
<!--    <th>Country</th>-->
<!--    <th>Contact</th>-->
<!--    <th>Country</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Alfreds Futterkiste</td>-->
<!--    <td>Maria Anders</td>-->
<!--    <td>Germany</td>-->
<!--    <td>Maria Anders</td>-->
<!--    <td>Germany</td>-->
<!--  </tr>-->
<!--</table>-->