<section id="edit-profile">
    <div class="col-lg-8 offset-lg-2 no-padding">
        <div class="dh-card">
            <h5>Account Settings</h5>
            <hr>
            <%= render 'profile_form' %>
        </div>
    </div>
    
    <section id="my-listings" class="add-margin-top">
      <div class="col-lg-8 offset-lg-2 no-padding">
          <div class="dh-card">
              <h5>Social Settings</h5>
              <hr>
              <%= render 'social_form' %>
          </div>
      </div>
    </section>
    
    <div class="col-lg-8 offset-lg-2 no-padding add-margin-top">
        <div class="dh-card">
            <h5>Add A Certification (If Any)</h5>
            <hr>
            <%= form_for(@cook, :html => { :multipart => true, :class => 'cook-license-form', :id => "cook_license_form", :remote => true }) do |f| %>
                <div class="col-lg-12 no-padding" style="width: 100%;">
                  <div class="dropdown">
                    <div style="border: 0.5px solid #e7e7e9; border-radius: 2px;
                        color: #000;"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" class="cursor-pointer">
                      <div class="row">
                        <div class="col-md-12" style="padding: 15px;">
                          <p class="font-15 text-left" style="padding: 0 15px;">
                            <span class="float-left" id='license-value'>
                              <%= current_chef.license.present? ? current_chef.license : "none" %>
                            </span>
                            <span class="float-right">
                              <i class="fa fa-angle-down"></i>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                      style="padding-top: 0; padding-bottom: 0; max-height: 250px;
                        overflow-y: auto; color: #000;">
                      <a class="dropdown-item cursor-pointer"
                        onclick="changeLicense(this,'none');">
                        None
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item cursor-pointer"
                        onclick="changeLicense(this,'cc');">
                        Certified Culinarian
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item cursor-pointer"
                        onclick="changeLicense(this,'csc');">
                        Certified Sous Chef
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item cursor-pointer"
                        onclick="changeLicense(this,'ccc');">
                        Certified Chef De Cusine
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item cursor-pointer"
                        onclick="changeLicense(this,'cec');">
                        Certified Executive Chef
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item cursor-pointer"
                        onclick="changeLicense(this,'cmc');">
                        Certified Master Chef
                      </a>
                    </div>
                  </div>
                  <%= f.text_field :license, class:"no-display", id:"license", label: false, value: "none" %>
                  
                  <div class="actions" style="text-align: right;">
                    <%= f.submit "Update License", class:"btn btn-primary height-50 mobile-block-display",
                        style:"margin-top: 15px;", id:"update-license",
                        data: { "disable-with": "Updating..." } %>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
</section>