<section id="cook-profile">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <img src="" alt="cook">
                </div>
                <div class="col-md-10">
                    <h5><%= @cook.full_name %></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><%= @cook.bio %></p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>
                        <span class="bold font-22">$<%= @cook.booking_rate %></span>
                        <span class="font-13">per day</span>
                    </p>
                    
                    <div class="cook-rating cursor-pointer"
                        <% if current_customer && current_customer.has_not_rated(@cook) %>
                            data-toggle="modal" data-target="#rateCook"
                        <% end %>>
                        <% 5.times.each_with_index do |s, idx| %>
                            <span class="star">
                                <i class="<%= star_rating(idx + 1, @cook) %> theme-cyan"
                                    style="font-size: 11px;"></i>
                            </span>
                        <% end %>
                        <span class="rating-count" style="font-size: 12px;">
                            <%= @cook.rating_count %>
                        </span>
                    </div>
                    
                    <hr>
                    
                    <p class="font-13">
                        How long are you booking <%= @cook.first_name %> for?
                        <!--<span class="bold">(To book for one day, select same start and end day)</span>-->
                    </p>
                    <%= render 'common/datetime_picker' %>
                    
                    <p class="font-13" style="margin-top: 15px;">How many people will be eating?</p>
                    <div style="position: relative !important;"><%= render 'common/guest_count' %></div>
                    
                    <div id="booking-btn-div">
                        <%= render 'customers/booking_btn' %>
                    </div>
                    
                    <p class="text-center font-13 add-margin-top">You won't be charged yet</p>
                    
                    <hr>
                    
                    <% if current_customer && current_customer.has_not_reported(@cook) %>
                    <p class="text-center font-13">
                        <a class="btn btn-link" data-toggle="modal"
                            data-target="#reportcook" style="font-size: 15px !important;">
                            <i class="fa fa-flag-o"></i> Report this cook
                        </a>
                    </p>
                    <% else %>
                        <p class="text-center font-13">
                            You have reported this cook
                        </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function showStars(elem) {
        var id = elem.id.split('star-').join('');
        for (i = 0; i <= parseInt(id); i++) {
            $('#star-' + i.toString())
            .html(`<i class="fa fa-star theme-cyan"
                style="font-size: 28px;"></i>`);
        }
        
        document.querySelector('#cook-rating-value').value = parseInt(id);
        
        $('.cook-rating-form').show();
    }
    
    function cancelRating() {
        $('.cook-rating-form').hide();
        
        $('.unrated-star')
        .html(`<i class="fa fa-star-o theme-cyan"
                        style="font-size: 28px;"></i>`);
    }
</script>