<section id="cook-profile">
    <div class="row">
        <div class="col-md-3">
            <div id="cook-avi"
                style="height: 230px; overflow: hidden;
                        border-radius: 5px;">
                <img src="<%= @cook.image.url %>" alt="cook"
                    style="height: auto; width: 100%;">
            </div>
            
            <% if current_chef && @cook == current_chef %>
                <div class="card add-margin-top">
                    <div class="card-header background-cyan">
                        Booking link
                    </div>
                    <div class="card-body">
                        <p class="font-16">
                            <a class="background-transparent theme-cyan" href="/<%= @cook.shortened_url %>">
                                dinnerhost.co/b/<%= @cook.shortened_url %>
                            </a>
                        </p>
                        
                        <p class="add-margin-top font-14">
                            Add this to your social media bio
                        </p>
                    </div>
                </div>
            <% end %>
            
            <div class="card add-margin-top">
                <div class="card-header background-cyan">
                    Verified info
                </div>
                <div class="card-body">
                    <%= render partial: 'chefs/verified_info', locals: { cook: @cook } %>
                    
                    <p class="add-margin-top">
                        <a class="background-transparent theme-cyan" href="/chef-verification">
                            How we verify <i class="fa fa-angle-double-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            
            <div class="card add-margin-top">
                <div class="card-header background-cyan">
                    About me
                </div>
                <div class="card-body">
                    <%= render partial: 'chefs/about', locals: { cook: @cook } %>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="chef-salutation">
                <h1>Hey, I'm <%= @cook.first_name %>!</h1>
            </div>
            
            <div class="add-margin-top" id="chef-location">
                <p class="bold font-15"><%= @cook.abridged_address %> &bull; <%= @cook.join_date %></p>
            </div>
            
            <div class="add-margin-top" id="report-chef">
                <% if current_customer %>
                    <% if current_customer.has_not_reported(@cook) %>
                        <p>
                            <a class="background-transparent text-muted cursor-pointer" data-toggle="modal"
                                data-target="#reportcook" style="font-size: 15px !important;">
                                <i class="fa fa-flag-o"></i> Report this cook
                            </a>
                        </p>
                    <% else %>
                        <p>
                            You have reported this cook
                        </p>
                    <% end %>
                <% else %>
                    <a class="background-transparent text-muted cursor-pointer" data-toggle="modal"
                        data-target="#customerAuthentication" style="font-size: 15px !important;">
                        <i class="fa fa-flag-o"></i> Report this cook
                    </a>
                <% end %>
            </div>
            
            <div class="add-margin-top" id="chef-bio">
                <p><%= @cook.bio %></p>
            </div>
            
            <div class="add-margin-top" id="chef-reviews">
                <p>
                    <% if @cook.verified %>
                        <span style="margin-right: 10px;" class="font-16 badge badge-success">
                            Verified <i class="fa fa-check-circle"></i>
                        </span>
                    <% end %>
                </p>
            </div>
            
            <div id="chef-reviews" style="margin-top: 20px;">
                <a class="background-transparent no-underline"
                    href="/book/<%= @cook.username || @cook.id %>">
                    <button class="btn btn-success">
                        Book <%= @cook.first_name %>
                    </button>
                </a>
            </div>
            
            <div class="row" id="chef-meals" style="margin-top: 30px;">
                <div class="col-md-12"><h4>Listings <span class="text-muted font-20">(<%= @cook.meals.count %>)</span></h4></div>
                <%= render partial: "chef_meals", locals: { meals: @cook.meals } %>
            </div>
            
            <div id="chef-reviews" style="margin-top: 30px;">
                <div class="row add-margin-bottom">
                    <div class="col-md-12">
                        <h4>
                            Reviews
                            <span class="text-muted font-20">(<%= @cook.chef_ratings.count %>)</span>
                            <% if current_customer && current_customer.has_not_rated(@cook) %>
                                <span class="cook-rating" align="center"
                                    style="margin-left: 10px;">
                                    <% 5.times.each_with_index do |s, idx| %>
                                        <span class="star">
                                            <i class="<%= star_rating(idx + 1, @cook) %> theme-cyan"
                                                style="font-size: 23px;"></i>
                                        </span>
                                    <% end %>
                                </span>
                                
                                <span style="margin-left: 5px;"
                                    class="badge badge-primary cursor-pointer"
                                    data-toggle="modal" data-target="#rateCook">
                                    Rate <%= @cook.first_name %>
                                </span>
                            <% else %>
                                <span class="cook-rating" align="center"
                                    style="margin-left: 10px;">
                                    <% 5.times.each_with_index do |s, idx| %>
                                        <span class="star">
                                            <i class="<%= star_rating(idx + 1, @cook) %> theme-cyan"
                                                style="font-size: 23px;"></i>
                                        </span>
                                    <% end %>
                                </span>
                            <% end %>
                        </h4>
                    </div>
                </div>
                <%= render partial: "common/reviews", locals: { reviews: @cook.chef_ratings } %>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function showStars(elem) {
        var id = elem.id.split('star-').join('');
        for (i = 0; i <= parseInt(id); i++) {
            $('#star-' + i.toString())
            .html(`<i class="fa fa-star theme-cyan"
                style="font-size: 28px;"></i>`);
        }
        
        document.querySelector('#cook-rating-value').value = parseInt(id);
        
        $('.cook-rating-form').show();
    }
    
    function cancelRating() {
        $('.cook-rating-form').hide();
        
        $('.unrated-star')
        .html(`<i class="fa fa-star-o theme-cyan"
                        style="font-size: 28px;"></i>`);
    }
</script>