<%= simple_form_for(@article, :html => { :class => '', :id => "new_article", :multipart => true, authenticity_token: true }) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
        <h2>This post could not be saved due to the following <%= pluralize(@article.errors.count, "error") %>:</h2>

        <ul>
            <% @article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  
  <input type="hidden" name="article[category]" id="article_category" value="<%= @article.category if @article.category.present? %>">
  <input type="hidden" name="article[banner_image]" value="https://s3.us-east-2.amazonaws.com/senzzu/stores_banner.png">
  <div class="field col-md-12">
    <%= f.input :title, class:"form-control no-box-shadow height-55 font-15 pf", autofocus: true, placeholder:"Post title", label: false %>
  </div>
  
  <div class="field col-md-12">
    <%= f.input :content, class:"form-control no-box-shadow font-15 pf post-body", placeholder:"Post body", as: :wysihtml5, label: false %>
  </div>
  
  <div class="col-md-12">
    <div class="row">
      <div class="field col-md-8">
        <%= f.input :tags, class:"form-control no-box-shadow height-55 font-16 pf", placeholder:"Add tags, separated by a comma", label: false %>
      </div>
      
      <div class="field col-md-4">
        <button class="btn btn-primary btn-flat btn-block set-category-post-category height-55" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if @article.category.present? %>
            <%= @article.category %> <i class="fa fa-angle-down"></i>
          <% else %>
            Select a category <i class="fa fa-angle-down"></i>
          <% end %>
        </button>
        <div class="dropdown-menu" style="width: 100%; margin-top: 225px;" aria-labelledby="dropdownMenuButton">
          <% post_categories.each do |c| %>
              <a class="dropdown-item theme-blue cursor-pointer" id="category-<%= c %>" onclick="setCategory(this, 'article_category', 'post-category')"><%= c %></a>
              <div class="dropdown-divider"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="actions text-center action-button">
    <a class="btn btn-primary height-55 add-padding-top white save-draft" onclick="saveAsDraft()">
      Save as draft
    </a>
    <%= f.button :submit, "Publish post!", class:"btn btn-primary height-55", id:"create_article", data: { "disable-with": "Creating..." } %>
  </div>
<% end %>
<!--<div class="actions text-center action-button add-margin-top">-->
  <!--<a class="btn btn-primary height-55 add-padding-top white save-draft" onclick="saveAsDraft()">-->
  <!--  Save as draft-->
  <!--</a>-->
<!--</div>-->

<script>
  function setCategory(elem, inputID, context) {
    var id = elem.id;
    var category = id.split('-')[1]
    document.getElementById(inputID).value = category.toLowerCase();
    $('.set-category-' + context).html(
        category + ' <i class="fa fa-angle-down"></i>'
    );
  }
  
  function saveAsDraft(event) {
    $('.save-draft').html('Saving...');
    var form = document.querySelector('#new_article');
    var input = document.createElement('input');
    input.setAttribute('type', 'hidden');
    input.setAttribute('name', 'article[draft]');
    input.setAttribute('value', 'true');
    form.appendChild(input);
    form.submit();
  }
</script>