<style>

    .card {
        border-radius: 5px !important;
    }
    
    p {
        margin-bottom: 20px;
        font-size: 15px !important;
    }
    
    ul {
        padding-right: 0 !important;
    }
</style>
<section id="article-<%= @article.id %>">
    <div class="container">
        <div class="row" style="padding-bottom: 45px;">
            <div class="col-md-8">
                <div class="card box-shadow">
                    <div class="card-header"
                        style="height: 400px;
                            background-image: url('<%= @article.banner_image %>');
                            background-size: cover; background-position: center;
                            z-index: 1 !important;">
                    </div>
                    <div class="card-body" style="padding-top: 10px; background-color: #f4f9ff;">
                        <div class="">
                            <h4 class="text-center add-margin-top">
                                <%= @article.title %><br />
                                <span style="font-size: 15px !important;" class="bold"><%= @article.updated_at.strftime('%B %e, %Y') %></span><br />
                                <span class="badge badge-success no-border-radius font-15"><%= @article.category %></span>
                            </h4>
                            <p>
                                <%= sanitize @article.content %>
                            </p>
                            <p class="font-15 text-center">
                                <a class="btn btn-success height-55 add-padding-top" href="/register-a-store" target="_blank">
                                    Start your free 60-day trial
                                </a>
                            </p>
                        </div>
                        <hr style="margin-bottom: 15px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="bold float-left">Share this post</h6>
                                <h6 class="bold float-right">Posted on</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="bold float-left">
                                    <%= social_share_button_tag(@article.title, 'data-twitter-title' => @article.title) %>
                                </h6>
                                <h6 class="float-right"><%= @article.updated_at.strftime('%B %e, %Y') %></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card box-shadow" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="card-body article-author-card" style="background-color: #cce4ff;">
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom: 12px;">
                                <h6 class="bold">About the author</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 post-author-avi">
                                <img src="https://media.licdn.com/dms/image/C4E03AQGvALsbkwZrEQ/profile-displayphoto-shrink_200_200/0?e=1545264000&v=beta&t=-b6-yjfjxfTq2gxyZbsgW53sS3345yr0iglAvAKrs_g"
                                        class="author_profile" style="height: 76px; width: 76px; border-radius: 38px;">
                            </div>
                            <div class="col-md-10">
                                <p class="font-15">
                                    <%= link_to @article.author, admin_path(:id => @article.admin_id), class:"theme-color bold" %>
                                    <%= @article.admin.bio %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card box-shadow">
                    <div class="card-header background-blue white">
                        Subscribe to our newsletter
                    </div>
                    <div class="card-body" style="background-color: #f4f9ff;">
                        <div id="newsletterResponse"></div>
                        <form id="newsletterSubscriptionForm" data-remote="true" action="/subscribe" method="post" onsubmit="showFormLoader();">
                            <div class="input-group mb-3">
                                <input class="form-control no-box-shadow" style="border-left: 0.5px solid #e7e7e9 !important; font-size: 14px !important;"
                                    id="newsletter-signup" name="email" placeholder="Email address">
                            </div>
                            <button class="btn btn-primary no-box-shadow btn-block height-55" id="submitEmail" style="padding-left: 15px; padding-right: 15px;">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card box-shadow" style="margin-top: 20px;">
                    <div class="card-header background-blue white">
                        Related articles
                    </div>
                    <div class="card-body" style="padding: 0 !important;">
                        <% related_articles.each do |a| %>
                            <div style="font-size: 14px; padding: 20px 15px; border-top: 1px solid #e7e7e9; background-color: #f4f9ff;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <%= link_to a.title, article_path(:id => a.id, :slug => a.slug), class:"theme-color" %>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="badge badge-warning">
                                            <%= a.category %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="card box-shadow" style="margin-top: 20px;">
                    <div class="card-header background-blue white">
                        Share this post
                    </div>
                    <div class="card-body" style="background-color: #f4f9ff;">
                        <%= social_share_button_tag(@article.title, 'data-twitter-title' => @article.title) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section>
