<section id="conversation">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body text-center">
                    <h5><%= @conversation.correspondent(user).full_name %></h5>
                    <div>
                        <img src="" alt="Sender">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <form id="message-form" data-remote="true" action="/create_message" method="post">
                        <div class="card">
                            <div class="card-body" style="padding: 0;">
                                <input type="hidden" name="conversation_id" value="<%= @conversation.id %>">
                                <input type="hidden" name="message[sender_type]" value="<%= user.user_type %>">
                                <input type="hidden" name="sender_id" value="<%= user.id %>">
                                <textarea class="form-control height-100 no-box-shadow no-border background-transparent"
                                    name="message[content]" placeholder="Type a new message..."></textarea>
                            </div>
                            <div class="card-footer" align="right">
                                <button class="btn btn-secondary">
                                    Send Message <i class="fa fa-send"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div style="padding: 43px 0 15px 0;" class="text-middle-hr">
                <div style="width: 100%;">
                    <hr style="margin: 0;">
                </div>
                <div style="margin-top: -13px;" align="center">
                  <span style="font-size: 14px; background-color: #fff; padding: 0 10px;">
                    Reminder - Leave a review
                  </span>
                </div>
            </div>
            
            <div class="row" id="all-messages">
                <%= render partial: 'messages', locals: { messages: @messages } %>
            </div>
        </div>
    </div>
</section>