<section id="conversation">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <div id="cook-avi" class="cursor-pointer" align="center"
                        style="height: 130px; width: 130px; margin: auto;
                                overflow: hidden; border-radius: 65px;
                                border: 0.5px solid #e7e7e9;"
                        id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="<%= @conversation.correspondent(user).image %>" alt="cook"
                            style="height: auto; width: inherit;">
                    </div>
                    
                    <div class="add-margin-top">
                        <h5 style="font-weight: 700;">
                            <%= @conversation.correspondent(user).first_name %>
                        </h5>
                    </div>
                    
                    <div class="add-margin-top">
                        <h5>
                            <%= @conversation.correspondent(user).abridged_address %>
                        </h5>
                    </div>
                    
                    <% if current_customer %>
                        <div class="cook-rating cursor-pointer add-margin-top" align="center"
                            <% if current_customer.has_not_rated(@conversation.correspondent(user)) %>
                                data-toggle="modal" data-target="#rateCook"
                            <% end %>>
                            <% 5.times.each_with_index do |s, idx| %>
                                <span class="star">
                                    <i class="<%= star_rating(idx + 1, @conversation.correspondent(user)) %> theme-cyan"
                                        style="font-size: 15px;"></i>
                                </span>
                            <% end %>
                            <span class="rating-count" style="font-size: 14px;">
                                <%= @conversation.correspondent(user).rating_count %>
                            </span>&bull;
                            <span class="badge badge-success" style="font-size: 12px;">
                                <%= pluralize(@conversation.correspondent(user).meals.count, 'meal') %>
                            </span>
                        </div>
                    <% end %>
                    
                    <div class="add-margin-top">
                        <% if current_customer %>
                            <% if current_customer.has_not_reported(@conversation.correspondent(user)) %>
                                <p class="text-center font-13">
                                    <a class="btn btn-link" data-toggle="modal"
                                        data-target="#reportcook" style="font-size: 15px !important;">
                                        <i class="fa fa-flag-o"></i> Report this cook
                                    </a>
                                </p>
                            <% else %>
                                <p class="text-center font-13">
                                    You have reported this cook
                                </p>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 offset-md-1">
            <div class="row">
                <div class="col-md-12">
                    <form id="message-form" data-remote="true" action="/create_message" method="post">
                        <div class="card">
                            <div class="card-body" style="padding: 0;">
                                <input type="hidden" name="conversation_id" value="<%= @conversation.id %>">
                                <input type="hidden" name="message[sender_type]" value="<%= user.user_type %>">
                                <input type="hidden" name="sender_id" value="<%= user.id %>">
                                <textarea class="form-control height-100 no-box-shadow no-border background-transparent"
                                    name="message[content]" placeholder="Type a new message..."></textarea>
                            </div>
                            <div class="card-footer" align="right">
                                <button class="btn btn-secondary">
                                    Send Message <i class="fa fa-send"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div style="padding: 43px 0 15px 0;" class="text-middle-hr">
                <div style="width: 100%;">
                    <hr style="margin: 0;">
                </div>
                <div style="margin-top: -13px;" align="center">
                  <span style="font-size: 14px; background-color: #fff; padding: 0 10px;">
                    Reminder - Leave a review
                  </span>
                </div>
            </div>
            
            <div class="row" id="all-messages">
                <%= render partial: 'messages', locals: { messages: @messages } %>
            </div>
        </div>
    </div>
</section>