<%= form_for(@store, :html => { :id => "profileForm", :multipart => true, :remote => true }) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited your information from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <span class="field-label">Store name</span>
  <div class="field">
    <%= f.text_field :name, class:"form-control no-box-shadow height-50 font-16 pf", autofocus: true %>
  </div>
  <span class="field-label">Store number</span>
  <div class="field">
    <%= f.text_field :phone, class:"form-control no-box-shadow height-50 font-16 pf", autofocus: true %>
  </div>
  <span class="field-label">Manager/Supervisor name</span>
  <div class="field">
    <%= f.text_field :supervisor, class:"form-control no-box-shadow height-50 font-16 pf", autofocus: true %>
  </div>
  <div class="row">
    <div class="col-md-5">
      <span class="field-label">Street address</span>
      <div class="field">
        <%= f.text_field :street_address, class:"form-control no-box-shadow height-50 font-16 pf", autofocus: true %>
      </div>
    </div>
    <div class="col-md-3">
      <span class="field-label">Town</span>
      <div class="field">
        <%= f.text_field :town, class:"form-control no-box-shadow height-50 font-16 pf", autofocus: true %>
      </div>
    </div>
    <div class="col-md-2">
      <span class="field-label">State</span>
      <div class="field">
        <%= f.text_field :state, class:"form-control no-box-shadow height-50 font-16 pf", autofocus: true %>
      </div>
    </div>
    <div class="col-md-2">
      <span class="field-label">Zipcode</span>
      <div class="field">
        <%= f.text_field :zipcode, class:"form-control no-box-shadow height-50 font-16 pf", autofocus: true %>
      </div>
    </div>
  </div>
  <span class="field-label">Website</span>
  <div class="field">
    <%= f.text_field :website, class:"form-control no-box-shadow height-50 font-16 pf", autofocus: true %>
  </div>
  <div class="actions text-right">
    <%= f.submit "Update!", class:"btn btn-info font-14 btn-lg cursor-pointer update-profile height-50" %>
  </div>
<% end %>