var config = {
    apiKey: "AIzaSyDtkPxyakU5Nb1YO6daAGGytItWoeNL5vM",
    authDomain: "senzzu-d2fbe.firebaseapp.com",
    databaseURL: "https://senzzu-d2fbe.firebaseio.com",
    projectId: "senzzu-d2fbe",
    storageBucket: "senzzu-d2fbe.appspot.com",
    messagingSenderId: "312266021503"
};


if (!firebase.apps.length) {
    firebase.initializeApp(config);
}

var firestore = firebase.firestore();
var settings = {timestampsInSnapshots: true};
firestore.settings(settings);

var type = "<%= @type %>";
if (type === "new-store") {
    
    var data = {
        store_id: <%= current_store.id %>,
        store_name: "<%= current_store.name %>",
        street_address: "<%= current_store.street_address %>",
        town: "<%= current_store.town %>",
        state: "<%= current_store.state %>",
        zipcode: "<%= current_store.zipcode %>",
        active: <%= current_store.active %>,
        live: <%= current_store.live %>,
        website: "<%= current_store.website %>",
        latitude: <%= current_store.latitude %>,
        longitude: <%= current_store.longitude %>,
        email: "<%= current_store.email %>",
        opening_weekday: "<%= current_store.opening_weekday %>",
        closing_weekday: "<%= current_store.closing_weekday %>",
        opening_saturday: "<%= current_store.opening_saturday %>",
        closing_saturday: "<%= current_store.closing_saturday %>",
        opening_sunday: "<%= current_store.opening_sunday %>",
        closing_sunday: "<%= current_store.closing_sunday %>",
        delivery_fee: "<%= current_store.delivery_fee %>"
    };
    firestore.collection('stores').add(data)
    .then((response) => {
        $.get('/update_sessions_count'); // update sessions count
    }).catch((error) => {
        <!--console.error('an error occurred!');-->
    });
} else if (type === "banner_image") {
    var data = {
        banner_image: "<%= @url %>"
    };
    firestore.collection('stores').doc("<%= @store.firestore_doc_id %>").set(data, { merge: true })
    .then((response) => {
        toastr.success('Banner image updated!');
        <!--console.log('success');-->
    }).catch((error) => {
        <!--console.error('an error occurred!');-->
    });
} else if (type === "new-item") {
    var sizesAndPrices = {};
    var availableSizes = "<%= @available_sizes %>";
    var availablePrices = "<%= @available_prices %>";
    if (availableSizes.length > 0 && availablePrices.length > 0) {
        for (i = 0; i < availableSizes.split(',').length - 1; i++) {
            var size = availableSizes.split(',').splice(1)[i];
            var price = availablePrices.split(',').splice(1)[i];
            sizesAndPrices[size] = price;
        }
        
        var data = {
            storeId: <%= @store.id %>,
            storeTokenID: "<%= @store.token_id %>",
            name: "<%= @name %>",
            ndc: "<%= @ndc %>",
            sizes_and_prices: sizesAndPrices,
            strength: "<%= @strength %>",
            taxable: "<%= @taxable %>",
            description: "<%= @description %>",
            category: "<%= @category %>"
        };
    } else {
        var data = {
            storeId: <%= @store.id %>,
            storeTokenID: "<%= @store.token_id %>",
            name: "<%= @name %>",
            ndc: "<%= @ndc %>",
            price: "<%= @price %>",
            strength: "<%= @strength %>",
            size: "<%= @size %>",
            taxable: "<%= @taxable %>",
            description: "<%= @description %>",
            category: "<%= @category %>"
        };
    }
    firestore.collection('items').add(data)
    .then((response) => {
        toastr.success('Item added!');
    }).catch((error) => {
        toastr.warning('Failed to add this item. Please try again');
    });
} else if (type === "order-update") {
    var docId = "<%= @doc_id %>";
    var status = "<%= @status %>";
    var statusLevel = <%= @status_level %>;
    var ref = firestore.collection('orders').doc(docId);
    ref.set({status: status, status_level: statusLevel}, {merge: true})
    .then((response) => {
        toastr.success('Text update sent to customer');
        ref.get()
        .then(function(doc) {
            var data = {
                "confirmation": doc.data().confirmation,
                "status": status
            };
            $.get('/update_order', { data: data });
            if (status === "order ready") {
                document.getElementById("body").classList.remove("modal-open");
                $('#orderCard' + docId).remove();
                $('.modal-backdrop').remove();
                $('#unprocessedOrders').html((<%= @order_count %> - 1));
            }
            
            var orders = document.querySelector('#orderRequests').children.length;
            if (orders == 0) {
                $('#orderRequests').html(`
                    <div class="text-center col-md-12" id="loadingOrders">
                        <span>
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-color"
                                style="font-size: 50px;">
                            </i>
                        </span><br />
                        <p>Waiting for new orders</p>
                    </div>
                `);
            }
        });
    }).catch((error) => {
        toastr.warning('Failed to perform this operation. Please try again');
    });
}