var interval = "<%= @interval %>";
$('#' + interval).css('text-decoration', 'underline');

if (interval === "weekly") {
    $('#intervalContent').html(`
        <div class="card-body add-border-top">
            <div class="row">
                <div class="col-md-2">
                    <p class="font-15">Total orders</p>
                    <p class="bold"><%= week_orders.count %></p>
                </div>
                <div class="col-md-8 offset-md-2">
                    <%= line_chart week_orders_graph, colors: ["#F27649", "#fff"], height: "60px", library: {scales: {xAxes: [{display: false}]}}, messages: {empty: "No chart data available yet"}, discrete: true %>
                </div>
            </div>
        </div>
        <div class="card-body add-border-top">
            <div class="row">
                <div class="col-md-2">
                    <p class="font-15">Sales volume</p>
                    <p class="bold">$<%= week_volume %></p>
                </div>
                <div class="col-md-8 offset-md-2">
                    <%= line_chart week_sales_graph, colors: ["#F27649", "#fff"], height: "60px", library: {scales: {xAxes: [{display: false}]}}, messages: {empty: "No chart data available yet"}, discrete: true %>
                </div>
            </div>
        </div>
    `);
} else if (interval === "monthly") {
    $('#intervalContent').html(`
        <div class="card-body add-border-top">
            <div class="row">
                <div class="col-md-2">
                    <p class="font-15">Total orders</p>
                    <p class="bold"><%= month_orders.count %></p>
                </div>
                <div class="col-md-8 offset-md-2">
                    <%= line_chart month_orders_graph, colors: ["#F27649", "#fff"], height: "60px", library: {scales: {xAxes: [{display: false}]}}, messages: {empty: "No chart data available yet"}, discrete: true %>
                </div>
            </div>
        </div>
        <div class="card-body add-border-top">
            <div class="row">
                <div class="col-md-2">
                    <p class="font-15">Sales volume</p>
                    <p class="bold">$<%= month_volume %></p>
                </div>
                <div class="col-md-8 offset-md-2">
                    <%= line_chart month_sales_graph, colors: ["#F27649", "#fff"], height: "60px", library: {scales: {xAxes: [{display: false}]}}, messages: {empty: "No chart data available yet"}, discrete: true %>
                </div>
            </div>
        </div>
    `);
} else if (interval === "annually") {
    $('#intervalContent').html(`
        <div class="card-body add-border-top">
            <div class="row">
                <div class="col-md-2">
                    <p class="font-15">Total orders</p>
                    <p class="bold"><%= year_orders.count %></p>
                </div>
                <div class="col-md-8 offset-md-2">
                    <%= line_chart year_orders_graph, colors: ["#F27649", "#fff"], height: "60px", library: {scales: {xAxes: [{display: false}]}}, messages: {empty: "No chart data available yet"}, discrete: true %>
                </div>
            </div>
        </div>
        <div class="card-body add-border-top">
            <div class="row">
                <div class="col-md-2">
                    <p class="font-15">Sales volume</p>
                    <p class="bold">$<%= year_volume %></p>
                </div>
                <div class="col-md-8 offset-md-2">
                    <%= line_chart year_sales_graph, colors: ["#F27649", "#fff"], height: "60px", library: {scales: {xAxes: [{display: false}]}}, messages: {empty: "No chart data available yet"}, discrete: true %>
                </div>
            </div>
        </div>
    `);
} else if (interval === "all-time") {
    $('#intervalContent').html(`
        <div class="card-body add-border-top">
            <div class="row">
                <div class="col-md-2">
                    <p class="font-15">Total orders</p>
                    <p class="bold"><%= all_orders.count %></p>
                </div>
                <div class="col-md-8 offset-md-2">
                    <%= line_chart all_orders_graph, colors: ["#F27649", "#fff"], height: "60px", library: {scales: {xAxes: [{display: false}]}}, messages: {empty: "No chart data available yet"}, discrete: true %>
                </div>
            </div>
        </div>
        <div class="card-body add-border-top">
            <div class="row">
                <div class="col-md-2">
                    <p class="font-15">Sales volume</p>
                    <p class="bold">$<%= all_volume %></p>
                </div>
                <div class="col-md-8 offset-md-2">
                    <%= line_chart all_sales_graph, colors: ["#F27649", "#fff"], height: "60px", library: {scales: {xAxes: [{display: false}]}}, messages: {empty: "No chart data available yet"}, discrete: true %>
                </div>
            </div>
        </div>
    `);
}