<section id="orderHistory" style="padding-bottom: 15px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="table-header card-header">
                    <div class="row">
                        <div class='col-md-2'>
                            <h6 class="bold">Item</h6>
                        </div>
                        <div class='col-md-1'>
                            <h6 class="bold">Size</h6>
                        </div>
                        <div class='col-md-5'>
                            <h6 class="bold">Description</h6>
                        </div>
                    </div>
                </div>
                <div class="table-body card-body" style="max-height: 500px; overflow-y: auto;" id="all_requests_orders">
                    <% if !@orders.empty? %>
                        <% @orders.each do |order| %>
                            <div class="modal" id="special-order-modal<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 1051 !important; margin-top: 100px;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content box-shadow">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Update request details</h5>
                                            <a class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                                            </a>
                                        </div>
                                        <div class="modal-body">
                                            <%= form_for(order, :html => { :id => "special-request-#{order.id}", :multipart => true, :remote => true, authenticity_token: true }) do |f| %>
                                                <div class="row">
                                                    <div class="col-md-5 field">
                                                        <%= f.text_field :item_price, class:"form-control", placeholder:"Price (ex: 10.99)", value:"#{ order.item_price if order.item_price }", id:"item_price#{order.id}" %>
                                                    </div>
                                                    <div class="col-md-7 field">
                                                        <%= f.text_field :availability_date, class:"form-control", placeholder:"Availability date", value:"#{ order.availability_date if order.availability_date }", id:"availability_date#{order.id}" %>
                                                    </div>
                                                    <div class="col-md-7 field">
                                                        <%= f.hidden_field :id, value:"#{ order.id}", id:"item_id#{order.id}" %>
                                                    </div>
                                                    <div class="col-md-8 offset-md-2 field">
                                                        <%= f.submit "Update", class:"btn btn-primary btn-block height-55", data: { "disable-with": "Updating..." } %>
                                                    </div>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="order<%= order.id %>">
                                <div class='col-md-2'>
                                    <h6><%= order.item_name %></h6>
                                </div>
                                <div class='col-md-1'>
                                    <h6><%= order.item_size %></h6>
                                </div>
                                <div class='col-md-5'>
                                    <h6><%= order.item_description %></h6>
                                </div>
                                <div class="col-md-4" style="padding-bottom: 10px;">
                                    <div class="row" id="action-buttons<%= order.id %>">
                                        <% if order.pending %>
                                            <div class='col-md-2'>
                                                <a class="btn btn-secondary white" data-toggle="modal" data-target="#special-order-modal<%= order.id %>" id="update<%= order.id %>">
                                                    Edit
                                                </a>
                                            </div>
                                            <div class='col-md-5' align="right">
                                                <a class="btn btn-primary white" onclick="alertCustomer(<%= order.id %>)" id="alert<%= order.id %>">
                                                    <i class="fa fa-mobile"></i> Alert customer
                                                </a>
                                            </div>
                                            <div class='col-md-5'>
                                                <a class="btn btn-success white" onclick="markFulfilled(<%= order.id %>)" id="fulfilled<%= order.id %>">
                                                    <i class="fa fa-check-circle"></i> Complete
                                                </a>
                                            </div>
                                        <% else %>
                                            <div class='col-md-6'>
                                                <a class="btn btn-danger white" onclick="denyRequest(<%= order.id %>)" id="deny<%= order.id %>">
                                                    <i class="fa fa-times-circle"></i> Deny request
                                                </a>
                                            </div>
                                            <div class='col-md-6' align="right">
                                                <a class="btn btn-primary white" onclick="addToQueue(<%= order.id %>)" id="add<%= order.id %>">
                                                    <i class="fa fa-plus-circle"></i> Add to queue
                                                </a>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr style="margin-bottom: 15px;">
                                </div>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>No item requests to show</p>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function denyRequest(id) {
        $('#deny' + id).css('opacity', '0.7')
        .html('processing...');
        $.get('/deny_request', { id: id })
        .done(function(done) {
            var requests = $('#item_requests').text();
            $.get('/update_item_requests_count', { count: requests });
            $('#order' + id).remove();
            $('#special-order-modal' + id).remove();
            if ($('.table-body').text().trim().length == 0) {
                $('.table-body').html(`
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>No item requests to show</p>
                        </div>
                    </div>
                `);
            }
            toastr.success('Your customer has been updated!');
        }).fail(function(error) {
            $('#deny' + id).css('opacity', '1')
            .html('Deny request');
            toastr.warn('Unable to perform this action at the moment.');
        });
    }
    
    function addToQueue(id) {
        $('#add' + id).css('opacity', '0.7')
        .html('processing...');
        $.get('/add_to_queue', { id: id })
        .done(function(done) {
            $('#action-buttons' + id).html(`
                <div class='col-md-2'>
                    <a class="btn btn-secondary white" data-toggle="modal" data-target="#special-order-modal` + id + `" onclick="updateDetails(` + id + `)" id="update` + id + `">
                        Edit
                    </a>
                </div>
                <div class='col-md-5' align="right">
                    <a class="btn btn-primary white" onclick="alertCustomer(` + id + `)" id="alert` + id + `">
                        <i class="fa fa-mobile"></i> Alert customer
                    </a>
                </div>
                <div class='col-md-5'>
                    <a class="btn btn-success white" onclick="markFulfilled(` + id + `)" id="fulfilled` + id + `">
                        <i class="fa fa-check-circle"></i> Complete
                    </a>
                </div>
            `);
            toastr.success('This request has been queued and the customer has been updated!');
        }).fail(function(error) {
            $('#add' + id).css('opacity', '1')
            .html('Add to queue');
            toastr.warn('Unable to perform this action at the moment.');
        });
    }
    
    function alertCustomer(id) {
        $('#alert' + id).css('opacity', '0.7')
        .html('sending alert...');
        $.get('/alert_customer', { id: id })
        .done(function(done) {
            $('#action-buttons' + id).html(`
                <div class='col-md-6'>
                    <a class="btn btn-secondary white" data-toggle="modal" data-target="#special-order-modal` + id + `" onclick="updateDetails(` + id + `)" id="update` + id + `">
                        <i class="fa fa-file-o"></i> Update details
                    </a>
                </div>
                <div class='col-md-6' align="right">
                    <a class="btn btn-success white" onclick="markFulfilled(` + id + `)" id="fulfilled` + id + `">
                        <i class="fa fa-check-circle"></i> Order fulfilled
                    </a>
                </div>
            `);
            toastr.success('Alert sent!');
        }).fail(function(error) {
            $('#alert' + id).css('opacity', '1')
            .html('Alert customer');
            toastr.warn('Unable to perform this action at the moment.');
        });
    }
    
    function markFulfilled(id) {
        $('#fulfilled' + id).css('opacity', '0.7')
        .html('processing...');
        $.get('/mark_fulfilled', { id: id })
        .done(function(done) {
            var requests = $('#item_requests').text();
            $.get('/update_item_requests_count', { count: requests });
            $('#order' + id).remove();
            $('#special-order-modal' + id).remove();
            if ($('.table-body').text().trim().length == 0) {
                $('.table-body').html(`
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>No item requests to show</p>
                        </div>
                    </div>
                `);
            }
            toastr.success('Order marked as fulfilled!');
        }).fail(function(error) {
            $('#fulfilled' + id).css('opacity', '1')
            .html('Order fulfilled');
            toastr.warn('Unable to perform this action at the moment.');
        });
    }
</script>