
var config = {
    apiKey: "AIzaSyDtkPxyakU5Nb1YO6daAGGytItWoeNL5vM",
    authDomain: "senzzu-d2fbe.firebaseapp.com",
    databaseURL: "https://senzzu-d2fbe.firebaseio.com",
    projectId: "senzzu-d2fbe",
    storageBucket: "senzzu-d2fbe.appspot.com",
    messagingSenderId: "312266021503"
};


if (!firebase.apps.length) {
    firebase.initializeApp(config);
}

var firestore = firebase.firestore();
var settings = {timestampsInSnapshots: true};
firestore.settings(settings);

var type = "<%= @type %>"
var count = 0;
var unprocessed = <%= current_store.unprocessed_orders.count %>;

firestore.collection("orders")
.where("store_id", "==", "<%= current_store.id %>")
.onSnapshot(function(querySnapshot) {
    var changes = 0;
    var newOrders = <%= current_store.unprocessed_orders.count %>;
    var processedOrders = <%= current_store.completed_orders.count %>;
    var earnings = "<%= total_earnings %>";
    querySnapshot.docChanges().forEach(function(change) {
        var doc = change.doc;
        if (change.type === "added") {
            var url_string = window.location.href;
            $('#loadingOrders').remove();
            
            <!--Get attributes -->
            var order = doc.data().confirmation;
            var id = doc.id.toString();
            var details = doc.data().details || '';
            var details_length = Object.keys(details).length || 0;
            var orderType = doc.data().order_type.toLowerCase() || '';
            var status = doc.data().status || '';
            var total = doc.data().total_without_fee || '';
            var paymentType = doc.data().payment_type || '';
            var badgeType = doc.data().time_interval.toLowerCase().includes('asap') ? 'asap-badge' : 'later-badge';
            
            <!--Load order cards -->
            $('#orderRequests').append(`
                <div class="col-md-3" id=` + "orderCard" + id + `>
                    <div class="modal fade" id=` + "order" + order + ` tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">` + order + `</h5>
                                    <a class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <h6 class="bold">Order details:</h6>
                                    <h6 class="">Type: <span class="theme-blue">` + orderType + `</span></h6>
                                    <h6 class="">Status: <span class="badge badge-primary" id=` + "status-" + id + `>` + status + `</span></h6>
                                    <h6 class="">Total: <span class="theme-green" id=` + "total-" + id + `>` + parseFloat(total).toFixed(2) + `</span></h6>
                                    <h6 class="">Payment type: <span class="theme-red" id=` + "payment_type-" + id + `>` + paymentType + `</span></h6>
                                    <hr style="margin-bottom: 15px;">
                                    <h6 class="bold">Items ordered:</h6>
                                    <div class="row" id=` + "orderItems" + order + `></div>
                                    <hr style="margin-bottom: 15px;">
                                    <div class="row" style="margin-bottom: 15px;" id=` + "orderDestination" + order + `></div>
                                </div>
                                <div class="modal-footer" id=` + "modal-footer" + order + `>
                                    <button type="button" class="btn btn-primary toggle-status" id=` + "toggle-status_" + id + ` onclick="toggleStatus(this)">
                                        <span style="display: none;" id=` + "doc_id" + order + `>` + id + `</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card cursor-pointer order-card add-margin-bottom" data-toggle="modal" data-target=` + "#order" + order + `>
                        <div class="card-header new-order-card-header">
                            <span class="float-left">` + doc.data().confirmation + `</span><span class=` + "'" + "float-right badge badge-primary " + badgeType + "'" + `> </span>
                        </div>
                        <div class="card-body" id=` + "totalItems" + doc.id + `></div>
                    </div>
                </div>
            `);
            
            $('#at-a-glance').html(`
                <div class="row">
                    <div class="col-md-12">
                        <span class="theme-yellow">` + newOrders + `</span> new orders
                        <hr style="margin-top: 15px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 add-padding-top">
                        <span class="theme-color">` + processedOrders + `</span> processed orders
                        <hr style="margin-top: 15px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 add-padding-top">
                        <span class="theme-green">$` + earnings + `</span> in earnings
                        <hr style="margin-top: 15px;">
                    </div>
                </div>
                <div class="row add-padding-top">
                    <div class="col-md-6">
                        <span class="asap-badge badge badge-primary"> </span> ASAP
                    </div>
                    <div class="col-md-6">
                        <span class="later-badge badge badge-primary"> </span> Future
                    </div>
                </div>
            `);
            
            <!--Load order items -->
            $('#orderItems' + order).html('');
            var totalCount = 0;
            for (i = 0; i < details.quantities_ordered.length; i++) {
                totalCount += parseInt(details.quantities_ordered[i]);
                $('#orderItems' + order).append(`
                    <div class="col-md-12">
                        <p class="orderItemLine">
                           <span class="quantity">` + details.quantities_ordered[i] + `</span>
                           <span class="order_line_item">` + details.items_ordered[i] + `</span>
                        </p>
                    </div>
                `);
            }
            $('#totalItems' + doc.id).html(totalCount.toString() + ' items');
            
            
            <!--LOAD DESTINATION DETAILS -->
            
            <!--Check type -->
            if (orderType === "delivery") {
                $('#orderDestination' + order).html(`
                    <div class="col-md-12">
                        <h6 class="bold">Delivery details:</h6>
                        <p class="customer_name"><b>Email</b>: ` + doc.data().email + `</p>
                        <p class="customer_phone"><b>Phone</b>: ` + doc.data().phone + `</p>
                        <p class="customer_address"><b>Address</b>: ` + doc.data().address + `</p>
                        <p class="delivery_time"><b>Requested for</b>: ` + doc.data().day + ', ' + doc.data().time_interval + `</p>
                        <p class="customer_address"><b>Additional details</b>: <em>"` + (doc.data().additional_details == "" ? 'no additional details' : doc.data().additional_details) + `"</em></p>
                    </div>
                `);
            } else {
                $('#orderDestination' + order).html(`
                    <div class="col-md-12">
                        <h6 class="bold">Pickup info:</h6>
                        <p class="customer_phone"><b>Phone</b>: ` + doc.data().phone + `</p>
                        <p class="pickup_time"><b>Requested for</b>: ` + doc.data().day + ', ' + doc.data().time_interval + `</p>
                        <p class="customer_address"><b>Additional details</b>: <em>"` + (doc.data().additional_details == "" ? 'no additional details' :  doc.data().additional_details) + `"</em></p>
                    </div>
                `);
            }
            
            <!-- END LOAD DESTINATION DETAILS -->
            
            
            <!-- LOAD PROPER BUTTONS -->
            
            <!-- Check status -->
            if (status === "pending") {
                $('#toggle-status_' + id).html(`
                    Prepare order
                `);
            } else {
                $('#toggle-status_' + id).html(`
                    Mark as complete
                `);
            }
            
            $.get('/update_unprocessed_orders_count', { count: unprocessed });
            
        }
    });
});

firestore.collection("special_requests")
.where("store_id", "==", "<%= current_store.id %>")
.onSnapshot(function(querySnapshot) {
    querySnapshot.docChanges().forEach(function(change) {
        if (change.type === "added") {
            var requests = $('#item_requests').text();
            $.get('/update_item_requests_count', { count: requests });
        }
    });
});

if (type === "categories") {
    var categories = [];
    firestore.collection('categories').get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
            var name = doc.data().name.split(' ').join('-');
            $('#allCategories').append(`
                <a class="dropdown-item theme-blue cursor-pointer"
                onclick="setCategory(this)" id=` + name +
                `>` + doc.data().name + `</a><div class="dropdown-divider"></div>
            `);
        })
    });
} else if (type === "order-modals") {
    var categories = [];
    firestore.collection('orders').get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
            var confirmation = doc.data().confirmation;
            $('#orderModals').append(`
                <div class="modal fade" id=` + "order" + confirmation + ` tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Items</h5>
                                <a class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                                </a>
                            </div>
                            <div class="modal-body" id=` + "modalBody" + confirmation + `></div>
                        </div>
                    </div>
                </div>
            `);
            
            for (i = 0; i < doc.data().details.quantities_ordered.length; i++) {
                $('#modalBody' + confirmation).append(`
                    <div class="col-md-12">
                        <p class="orderItemLine">
                           <span class="quantity">` + doc.data().details.quantities_ordered[i] + `</span>
                           <span class="order_line_item">` + doc.data().details.items_ordered[i] + `</span>
                        </p>
                    </div>
                `);
            }
        })
    });
} else if (type === "items") {
    $('.inventory-items').html('');
    firestore.collection('items').where('storeId', '==', <%= @store.id %>).get()
    .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
            count += 1;
            var name = doc.data().name;
            $('.inventory-items').append(
                `<span class="item-span" id=` + "span-" + doc.id + `><div class='item-row item-row-body row' id=` + doc.id + `>`
                    + `<div class="no-left-padding col-md-2">`
                        + `<p class='theme-blue item-name' id=` + 'name-' + doc.id + `>` + name + `</p>`
                    + `</div>`
                    + `<div class="no-left-padding col-md-5">`
                        + `<p id=` + "sizesAndPrices" + doc.id + `></p>`
                    + `</div>`
                    + `<div class="no-left-padding col-md-1">`
                        + `<p class=''>` + (doc.data().strength || 'n/a') + `</p>`
                    + `</div>`
                    + `<div class="no-left-padding col-md-1">`
                        + `<p class=''>` + doc.data().taxable + `</p>`
                    + `</div>`
                    + `<div class="no-left-padding col-md-2">`
                        + `<p class='theme-color'>` + doc.data().category + `</p>`
                    + `</div>`
                    + `<div class="no-left-padding col-md-1">`
                        + `<p class=''><span class="badge badge-danger delete-item" id=`
                        + 'delete-' + doc.id + ` onclick="deleteItem(this.id.split('-')[1])"`
                        + `>Delete</span></p>`
                    + `</div>` +
                `</div><hr class="hr"></span>`
            );
            
            if (doc.data().sizes_and_prices) {
                for (i = 0; i < Object.keys(doc.data().sizes_and_prices).length; i++) {
                    var data = doc.data().sizes_and_prices;
                    var key = Object.keys(data)[i];
                    var value = data[key];
                    $('#sizesAndPrices' + doc.id)
                    .append('<span class="bold">' + key + '</span>' + ': ' + '<span class="bold theme-green">$' + value + '</span>'+ ' | ');
                }
            } else {
                $('#sizesAndPrices' + doc.id).html('<span class="bold">' + doc.data().size + '</span>: <span class="theme-green bold">$' + doc.data().price + '</span>');
            }
        });
        
        <!--// Set placeholder if no item-->
        if (count == 0) {
            $('.inventory-items').html(`
                <div class="text-center" id="no-items">
                    <span><i class="fa fa-hourglass-o" style="font-size: 40px;"></i></span>
                    <p class="font-16" style="margin-top: 15px;">Your inventory is empty</p>
                    <button class="btn btn-primary height-55" onclick="window.location.replace('/inventory/new');">
                       <i class="fa fa-plus-circle"></i> Add an item 
                    </button>
                </div>
            `);
        }
        
        <!--// Delete button shows on hover-->
        var idList = [];
        var itemRows = document.getElementsByClassName('item-row');
        
        for (i = 0; i < itemRows.length; i++) {
            if (itemRows[i].id) {
                idList.push(itemRows[i].id);
            }
        }
        
        <!--console.log(idList);-->
        
        <!--idList.forEach((id) => {-->
        <!--    $('#' + id).hover(on => {-->
        <!--        $('#delete-' + id).show();-->
        <!--    }, off => {-->
        <!--        $('#delete-' + id).hide();-->
        <!--    })-->
        <!--});-->
        
    }).catch((error) => {
        console.error('Error fetching items: ' + error);
    });
} 
else if (type === 'orders') {
    firestore.collection('orders')
    .where("store_id", "==", "<%= current_store.id %>")
    .get().then((querySnapshot) => {
        var count = 0;
        $('#orderRequests').html('');
        querySnapshot.forEach((doc) => {
            if (doc.data().status_level < 2) {
                count += 1;
                <!-- Get attributes -->
                var order = doc.data().confirmation;
                var id = doc.id.toString();
                var details = doc.data().details || '';
                var details_length = Object.keys(details).length || 0;
                var orderType = doc.data().order_type.toLowerCase() || '';
                var status = doc.data().status || '';
                var total = doc.data().total_without_fee || '';
                var paymentType = doc.data().payment_type || '';
                var badgeType = doc.data().time_interval.toLowerCase().includes('asap') ? 'asap-badge' : 'later-badge';
                
                <!-- Load order cards -->
                $('#orderRequests').append(`
                    <div class="col-md-3" id=` + "orderCard" + id + `>
                        <div class="modal fade" id=` + "order" + order + ` tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">` + order + `</h5>
                                        <a class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="bold">Order details:</h6>
                                        <h6 class="">Type: <span class="theme-blue">` + orderType + `</span></h6>
                                        <h6 class="">Status: <span class="badge badge-primary" id=` + "status-" + id + `>` + status + `</span></h6>
                                        <h6 class="">Total: <span class="theme-green" id=` + "total-" + id + `>` + parseFloat(total).toFixed(2) + `</span></h6>
                                        <h6 class="">Payment type: <span class="theme-red" id=` + "payment_type-" + id + `>` + paymentType + `</span></h6>
                                        <hr style="margin-bottom: 15px;">
                                        <h6 class="bold">Items ordered:</h6>
                                        <div class="row" id=` + "orderItems" + order + `></div>
                                        <hr style="margin-bottom: 15px;">
                                        <div class="row" style="margin-bottom: 15px;" id=` + "orderDestination" + order + `></div>
                                    </div>
                                    <div class="modal-footer" id=` + "modal-footer" + order + `>
                                        <button type="button" class="btn btn-primary toggle-status" id=` + "toggle-status_" + id + ` onclick="toggleStatus(this)">
                                            <span style="display: none;" id=` + "doc_id" + order + `>` + id + `</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card cursor-pointer order-card add-margin-bottom" data-toggle="modal" data-target=` + "#order" + order + `>
                            <div class="card-header new-order-card-header">
                                <span class="float-left">` + doc.data().confirmation + `</span><span class=` + "'" + "float-right badge badge-primary " + badgeType + "'" + `> </span>
                            </div>
                            <div class="card-body" id=` + "totalItems" + doc.id + `></div>
                        </div>
                    </div>
                `);
                
                <!--Load order items -->
                $('#orderItems' + order).html('');
                var totalCount = 0;
                for (i = 0; i < details.quantities_ordered.length; i++) {
                    totalCount += parseInt(details.quantities_ordered[i]);
                    $('#orderItems' + order).append(`
                        <div class="col-md-12">
                            <p class="orderItemLine">
                               <span class="quantity">` + details.quantities_ordered[i] + `</span>
                               <span class="order_line_item">` + details.items_ordered[i] + `</span>
                            </p>
                        </div>
                    `);
                }
                $('#totalItems' + doc.id).html(totalCount.toString() + ' items');
                
                
                <!--LOAD DESTINATION DETAILS -->
                
                <!--Check type -->
                if (orderType === "delivery") {
                    $('#orderDestination' + order).html(`
                        <div class="col-md-12">
                            <h6 class="bold">Delivery details:</h6>
                            <p class="customer_name"><b>Email</b>: ` + doc.data().email + `</p>
                            <p class="customer_phone"><b>Phone</b>: ` + doc.data().phone + `</p>
                            <p class="customer_address"><b>Address</b>: ` + doc.data().address + `</p>
                            <p class="delivery_time"><b>Requested for</b>: ` + doc.data().day + ', ' + doc.data().time_interval + `</p>
                            <p class="customer_address"><b>Additional details</b>: <em>"` + (doc.data().additional_details == "" ? 'no additional details' : doc.data().additional_details) + `"</em></p>
                        </div>
                    `);
                } else {
                    $('#orderDestination' + order).html(`
                        <div class="col-md-12">
                            <h6 class="bold">Pickup info:</h6>
                            <p class="customer_phone"><b>Phone</b>: ` + doc.data().phone + `</p>
                            <p class="pickup_time"><b>Requested for</b>: ` + doc.data().day + ', ' + doc.data().time_interval + `</p>
                            <p class="customer_address"><b>Additional details</b>: <em>"` + (doc.data().additional_details == "" ? 'no additional details' :  doc.data().additional_details) + `"</em></p>
                        </div>
                    `);
                }
                
                <!-- END LOAD DESTINATION DETAILS -->
                
                
                <!-- LOAD PROPER BUTTONS -->
                
                <!-- Check status -->
                if (status === "pending") {
                    $('#toggle-status_' + id).html(`
                        Prepare order
                    `);
                } else {
                    $('#toggle-status_' + id).html(`
                        Mark as complete
                    `);
                }
            }
        });
        
        if ("<%= current_store.live %>" === "false") {
            $('#orderRequests').html(`
                <div class="text-center col-md-12" id="loadingOrders">
                    <span>
                        <i class="fa fa-exclamation-circle theme-color"
                            style="font-size: 50px;">
                        </i>
                    </span><br />
                    <p>Unable to receive new orders until your store is live</p>
                </div>
            `);
        } else if (count == 0) {
            $('#orderRequests').html(`
                <div class="text-center col-md-12" id="loadingOrders">
                    <span>
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-color"
                            style="font-size: 50px;">
                        </i>
                    </span><br />
                    <p>Waiting for new orders</p>
                </div>
            `);
        }
        $("#sound").html("sound");
    });
    
}