$('#payments').html(`
    <% @payments.each do |pay| %>
        <div class="payment add-border-bottom add-padding-top add-padding-bottom">
            <div class="row">
                <div class="col-md-1 no-padding">
                    <p class="font-14 dark">$<%= pay.total_cost %></p>
                </div>
                <div class="col-md-1">
                    <p class="font-14 light">USD</p>
                </div>
                <div class="col-md-2">
                    <p class="font-14 light">
                        <span class="badge badge-success">Suceeded <i class="fa fa-check"></i></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="font-14 regular">Payment from order #<%= pay.confirmation %></p>
                </div>
                <div class="col-md-4">
                    <p class="font-14 regular">Paid on <%= pay.created_at.strftime('%Y-%m-%d at %l:%M%p') %></p>
                </div>
            </div>
        </div>
    <% end %>
`);

$('#paymentsFooter').html(`
    <div class="row">
        <div class="col-md-3">
            <p class="font-14 regular add-margin-top">Around <%= pluralize(@results, 'result') %></p>
        </div>
        <div class="col-md-3 offset-md-6">
            <% if !(@start.to_i == 0) %>
                <button class="btn btn-secondary font-14 no-box-shadow white" onclick="$.get('/retrieve_earnings', {start: <%= (@start.to_i - 1) - 19 %>, end: <%= @start.to_i - 1 %>});">Prev</button>
            <% else %>
                <button class="btn btn-primary font-14 white" disabled>Prev</button>
            <% end %>
            <% if @payments_length > (@start.to_i + 19) %>
                <button class="btn btn-primary font-14 no-box-shadow white" onclick="$.get('/retrieve_earnings', {start: <%= (@start.to_i + 19) + 1 %>, end: <%= ((@start.to_i + 19) + 1) + 19 %>});">Next</button>
            <% else %>
                <button class="btn btn-primary font-14 no-box-shadow white" disabled>Next</button>
            <% end %>
        </div>
    </div>
`);