<style>
    #main-body {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    #body {
        margin-top: 0 !important;
        padding-top: 75px;
    }
    footer {
        display: none;
    }
</style>

<div class="modal <%= store_is_closed(@store) %>" id="deliveryHours" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content box-shadow batch-list">
        <div class="modal-header">
            <h5 class="modal-title">Business Hours</h5>
            <a class="close" data-dismiss="modal" aria-label="Close" onclick="$('#deliveryHours').remove();">
              <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
            </a>
        </div>
        <div class="modal-body" style="padding-top: 20px !important;">
            <% if store_is_closed(@store) == 'show' %>
                <div class="alert alert-danger alert-dismissible fade show font-16" role="alert">
                    This store is currently closed
                    <a class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                    </a>
                </div>
            <% end %>
            <div class="float-left" style="width: 33.3%;">
                <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].each do |day| %>
                    <p class="font-16 add-margin-bottom <%= current_day?(day) %>"><%= day %></p>
                <% end %>
            </div>
            <div class="float-left" style="width: 66.6%;">
                <% ['Monday', 'Tuesday', 'Wednesdday', 'Thursday', 'Friday'].each do |day| %>
                    <p class="font-16 add-margin-bottom <%= current_day?(day) %>"><%= @store.weekday_hours %></p>
                <% end %>
                <p class="font-16 add-margin-bottom <%= current_day?('Saturday') %>"><%= @store.saturday_hours %></p>
                <p class="font-16 add-margin-bottom <%= current_day?('Sunday') %>"><%= @store.sunday_hours %></p>
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-md-12 add-padding-top">
                    <p class="font-16 theme-yellow">Holiday hours may vary</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="modal" id="contactInfo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content box-shadow batch-list">
        <div class="modal-header">
            <h5 class="modal-title">Contact Info</h5>
            <a class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
            </a>
        </div>
        <div class="modal-body text-center" style="padding-top: 20px !important;">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-16 bold">Pharmacist</p>
                    <p class="font-16"><%= @store.supervisor %></p>
                </div>
                <div class="col-md-12 add-margin-top">
                    <p class="font-16 bold">Phone</p>
                    <p class="font-16"><%= @store.phone %></p>
                </div>
                <div class="col-md-12 add-margin-top">
                    <p class="font-16 bold">Email</p>
                    <p class="font-16"><%= @store.email %></p>
                </div>
                <div class="col-md-12 add-margin-top">
                    <p class="font-16 bold">Website</p>
                    <p class="font-16"><%= @store.website %></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="modal" id="reviews" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content box-shadow">
        <div class="modal-header">
            <h5 class="modal-title">Reviews</h5>
            <a class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
            </a>
        </div>
        <div class="modal-body text-center" style="min-height: 275px; max-height: 300px; overflow-y: auto;">
            <div class="row" id="all_reviews">
                <% if @store.reviews.present? %>
                    <% @store.reviews.each do |rev| %>
                        <div class="col-md-12 add-padding-bottom">
                            <p style="font-size: 14px;">
                                <em>"<%= rev.content %>"</em>
                            </p>
                            <p style="font-size: 14px;" class="text-right">
                                - <%= rev.author %>
                            </p>
                        </div>
                    <% end %>
                <% else %>
                    <div class="col-md-12" id="firstReview">
                        <p style="font-size: 15px;">
                            Be the first to review this store!
                        </p>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="modal-footer background-transparent" style="padding: 0;" id="storeReviewInputField">
            <button class="btn btn-primary btn-block no-border-radius no-box-shadow" data-toggle="modal" data-target="#shopperAuthentication">
                Log in to add a review
            </button>
        </div>
    </div>
  </div>
</div>
<section id="storeShowHeader" class="no-border-radius no-margin-bottom" style='height: 250px; background-image: url("<%= @store.banner_image %>"); background-size: cover; background-position: center; filter: brightness(70%);'></section>
<div style="">
    <div id="store-banner-div" style="height: 275px;">
        <div class="container store-banner mobile-container" style="margin-top: -275px; max-height: 100%;">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="bold white" style="margin-top: 20px;"><%= @store.name %> <span class="badge badge-primary font-16"><%= delivery_tag(@store) %></span></h2>
                    <p class="font-17 white" style="margin-top: 30px; margin-bottom: 10px;">
                        <i class="fa fa-map-marker"></i> <%= @store.full_address %>
                        <a href="https://www.google.com/maps/search/?api=1&query=<%= encode(@store.full_address) %>" class="no-underline badge badge-success" target="_blank">
                            <i class="fa fa-location-arrow white"></i> Open maps
                        </a>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-light font-14 no-box-shadow" data-toggle="modal" data-target="#deliveryHours">
                                <i class="fa fa-clock-o"></i> Hours
                            </button>
                            <button class="btn btn-light font-14 no-box-shadow" data-toggle="modal" data-target="#contactInfo">
                                <i class="fa fa-info-circle"></i> Contact
                            </button>
                            <button class="btn btn-light font-14 no-box-shadow" data-toggle="modal" data-target="#reviews">
                                <i class="fa fa-smile-o"></i> Reviews (<%= @store.reviews.count %>)
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="storeItemsSearch">
    <div class="jumbotron no-border-radius" style="padding-top: 0px; padding-bottom: 0;">
        <div class="container mobile-container no-horizontal-mobile-padding">
            <div class="row">
                <div class="col-md-4 nbrm no-horizontal-mobile-padding" style="padding-top: 15px; padding-bottom: 15px; border-right: 1px solid #e1e1e2;">
                    <form action="/item_search" method="get" id="itemSearchForm">
                        <div class="input-group mb-3" style="margin-bottom: 0 !important;">
                            <input class="form-control font-16 no-box-shadow search-value background-transparent no-border" style="margin-top: 0 !important; padding-left: 0;"
                                id="searchInPage" placeholder="Search an item" onkeyup="searchItems()">
                            <div class="input-group-prepend">
                                <span class="input-group-text background-transparent prepend-box no-border no-horizontal-padding" id="basic-addon1">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                    <button type="button" style="display: none;">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="inPageSearchCount" style="display: none;">
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <p class="font-16" id="pageSearchTotal" style="margin-bottom: 0;"></p>
        </div>
    </div>
</section>

<section id="inventory" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row" id="storeItems"></div>
    </div>
    
    
    <!--Missing item modal-->

    <div class="modal" id="missing-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 1051 !important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content box-shadow">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Item Request</h5>
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                    </a>
                </div>
                <div class="modal-body" id="order-in-process">
                    <%= form_for(@order, :html => { :id => "item-request-form", :multipart => true, :remote => true, authenticity_token: true }) do |f| %>
                        <div class="row">
                            <div class="col-md-6 field">
                                <%= f.text_field :item_name, class:"form-control", placeholder:"Item name", required: true %>
                            </div>
                            <div class="col-md-6 field">
                                <%= f.text_field :item_size, class:"form-control", placeholder:"Item size", required: true %>
                            </div>
                            <div class="col-md-12 field">
                                <%= f.text_area :item_description, class:"form-control no-box-shadow", placeholder:"Brief description", style:"height: 100px;", required: true %>
                            </div>
                            <div class="col-md-12 field">
                                <%= f.text_field :shopper_phone, class:"form-control", placeholder:"Your phone number", required: true %>
                            </div>
                            <%= f.hidden_field :store_id, value:"#{ params[:id] }" %>
                            <div class="col-md-8 offset-md-2 field">
                                <%= f.submit "Submit request", class:"btn btn-primary btn-block height-55", data: { "disable-with": "Submitting" } %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary btn-block box-shadow-amp white height-55 no-border-radius"
        data-toggle="modal" data-target="#missing-item-modal" style="position: fixed; bottom: 0; padding-top: 16px;">
        Don't see what you're looking for?
    </a>
</section>

<script>
    var data = {
        "type": "store-items",
        "storeID": <%= params[:id] %>
    };
    
    readShopperDataFromFirestore(data, "storeItems");
    
    function getItemCount(id) {
        return $('#itemCount'+id).text();
    }
    
    function increaseItemCount(elem) {
        var id = elem.id;
        var decreaseCount = document.getElementsByClassName('decrease-item-count'+id)[0];
        var count = getItemCount(id);
        $('#itemCount'+id).html(parseInt(count) + 1);
        if (document.getElementsByClassName('decrease-item-count'+id)[0].hasAttribute('disabled')) {
            document.getElementsByClassName('decrease-item-count'+id)[0].removeAttribute('disabled');
            document.getElementsByClassName('add-to-cart'+id)[0].removeAttribute('disabled');
        }
    }
    
    function decreaseItemCount(elem) {
        var id = elem.id;
        var decreaseCount = document.getElementsByClassName('decrease-item-count'+id)[0];
        var count = getItemCount(id);
        $('#itemCount'+id).html(parseInt(count) - 1);
        if (count - 1 == 0) {
            document.getElementsByClassName('decrease-item-count'+id)[0].setAttribute('disabled', 'true');
            document.getElementsByClassName('add-to-cart'+id)[0].setAttribute('disabled', 'true');
        }
    }
    
    function searchItems() {
        var value = document.getElementById('searchInPage').value;
        console.log('search triggered', value);
        
        $('.store-item').hide();
        
        var input = value.toLowerCase();
        var itemList = document.getElementsByClassName('store-item-name');
        
        // var items = [];
        for (i = 0; i < itemList.length; i++) {
            var id = itemList[i].id;
            console.log(id);
            var name = $('#' + id).text().toLowerCase();
            
            if (input.includes(name) || name.includes(input)) {
                $('#store-item' + id.split('_')[1]).show();
            }
        }
        
    }
    
    function addToCart(elem) {
        var id = elem.id;
        var price = $('#item-price' + id).text();
        var size = $('#item-size' + id).text();
        var taxable = $('#item-taxable' + id).text();
        var name = $('#item-name' + id).text();
        var tempId = $('#tempId').text();
        var count = $('#itemCount' + id).text();
        var cart = {
            "item_id": id,
            "item_count": count,
            "item_price": price,
            "item_size": size,
            "temp_id": tempId,
            "item_name": name,
            "item_taxable": taxable,
            "store_id": <%= params[:id] %>
        }
        var cartItemCount = $('#currentItemCount').text();
        $('.add-to-cart' + id).css('opacity', '0.7')
        .html('adding to cart...');
        $.post('/add_item_to_cart', {cart: cart});
    }
    
    function removeFromCart(elem) {
        var id = elem.id;
        var tempId = $('#tempId').text();
        var count = $('#setForRemoval'+id).text();
        var cart = {
            "item_id": id,
            "temp_id": tempId
        }
        var cartItemCount = $('#currentItemCount').text();
        $('.remove-from-cart'+id).css('opacity', '0.7')
        .html('removing from cart...');
        $.post('/remove_item_from_cart', {cart: cart});
    }
    
    function watchForReviewSubmission(event) {
        if (event.key === "Enter") {
            submitReview();
        }
    }
    
    function submitReview() {
        var content = document.querySelector('#reviewInput').value;
        if (content.length == 0) {
            toastr.warning('Content cannot be empty.');
        }
        $('#submitReviewBtn').html(`
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"
            style="font-size: 15px;"></i>
        `);
        var data = {
            "type": "review",
            "content": content,
            "author": $('#shopperName').text() || "Anonymous",
            "shopperUID": $('#shopper_id').text() || "Anonymous",
            "storeID": <%= params[:id] %>
        };
        addShopperDataToFirestore(data);
    }
    
</script>