<%= form_for(@customer, :html => { :multipart => true, :class => 'customer-form', :id => "customer_form", :remote => true }) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
        <h2>This post could not be saved due to the following <%= pluralize(@customer.errors.count, "error") %>:</h2>

        <ul>
            <% @customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  
  <div class="field row">
    <div class="col-md-2">
      <label>First name</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :first_name, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"First name" %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Last name</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :last_name, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"Last name" %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Phone number</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :phone_number, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"Phone number" %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Address</label>
    </div>
    <div class="col-md-3">
      <%= f.text_field :street_address, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"Street address" %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :town, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"Town or city" %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :state, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"State" %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :zipcode, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"Zipcode" %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Bio</label>
    </div>
    <div class="col-md-10">
      <%= f.text_area :bio, class:"form-control no-box-shadow font-15 pf", style: "height: 130px !important;", placeholder:"Short bio" %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Profile picture</label>
    </div>
    <div class="col-md-10">
      <div class="card cursor-pointer customer-image-card">
        <div class="card-body" align="center"
          style="height: 200px; background-image: url('<%= current_customer.image if current_customer.image.present? %>');
                background-position: center; background-size: cover;">
          <a class="btn btn-secondary box-shadow white" style="margin-top: 10%;">
            <span style="font-size; 20px;">
              <i class="fa fa-camera"></i> Browse
            </span>
          </a>
        </div>
        <div class="card-footer customer-image-name text-center">File name: </div>
      </div>
      <%= f.file_field :image, class:"form-control no-box-shadow height-50 font-15 pf no-display", id: "customer-image-input" %>
    </div>
  </div>
  
  <div class="actions text-right action-button">
    <%= f.submit "Update", class:"btn btn-primary height-50", id:"update-profile", data: { "disable-with": "Updating..." } %>
  </div>
<% end %>

<script type="text/javascript">
  
  $('.customer-image-card').on('click', e => {
    $('#customer-image-input').click();
  });
  
  $('#customer-image-input').on('change', e => {
    $('.customer-image-name').append($('#customer-image-input').get(0).files[0].name);
  });
    
</script>