<%= form_for(@customer, :html => { :multipart => true, :class => 'cook-form', :id => "cook_form", :remote => true }) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
        <h2>This post could not be saved due to the following <%= pluralize(@customer.errors.count, "error") %>:</h2>

        <ul>
            <% @customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Facebook link</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :facebook, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"Facebook profile url" %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Instagram username</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :instagram, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"Instagram username" %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Twitter username</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :twitter, class:"form-control no-box-shadow height-50 font-15 pf", autofocus: true, placeholder:"Twitter username" %>
    </div>
  </div>
  <%= f.hidden_field :government_id, value: "", id: "government-id" %>
  
  <div class="actions text-right action-button">
    <%= f.submit "Update", class:"btn btn-primary height-50", id:"update-profile", data: { "disable-with": "Updating..." } %>
  </div>
<% end %>