<style>
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .col-lg-12 {
        padding: 0;
    }
</style>

<section id="booking-complete" align="center">
    <div class="row" style="margin: 0;">
        <div class="col-lg-8 offset-lg-2">
            <h3 class="bold">Almost there!</h3>
            
            <h5 class="add-margin-top text-muted">
                Your request has been sent. We'll notify you once
                <a href="/c/<%= @chef.username %>" class="background-transparent theme-cyan">
                    <%= @chef.first_name %>
                </a>
                accepts it.
            </h5>
            
            <img src="/images/salad.png" height="200" style="margin-top: 20px;">
            
            <p style="margin-top: 20px;">Reservation ID: <b><%= @reservation.token %></b></p>
        </div>
        
        <div class="col-lg-8 offset-lg-2 no-padding" style="margin-top: 20px;">
            <div align="left" style="margin-top: 20px;">
                <div class="dh-card">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 style="color: #000;">Meals requested</h5>
                        </div>
                    </div>
                    <div class="row">
                        <% @reservation.meals.each do |m| %>
                            <div class="col-lg-12 add-margin-bottom">
                                <%= link_to "/dish/#{m.id}/#{m.slug}", class:"theme-cyan" do %>
                                    <%= m.name %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    
                    <hr>
                    
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-12">
                            <h5 style="color: #000;">Date & Time</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-muted">
                            <%= @reservation.request_period_stringified %>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-12">
                            <h5 style="color: #000;">People</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-muted">
                            <%= (@reservation.adult_count.to_s + " adults") if @reservation.adult_count > 0 %>
                            <%= (" and " + @reservation.children_count.to_s + " children") if @reservation.children_count > 0 %>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-12">
                            <h5 style="color: #000;">Allergens</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 theme-red">
                            <%= @reservation.allergens_present? %>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-12">
                            <h5 style="color: #000;">Total</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 bold theme-green">
                            $<%= @reservation.fee %>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding: 15px;">
                    <a href="/message_chef/<%= @chef.id %>"
                        class="background-transparent no-underline">
                        <button class="btn btn-success mobile-block-display height-50">
                            <i class="fa fa-envelope-o"></i> Message <%= @chef.first_name %>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>