<section id="booking-confirmation-step-2">
    <div class="display-flex mobile-block-display" style="flex-wrap: wrap;">
        <div class="col-lg-12">
            <form action="/complete-reservation?id=<%= @reservation.id %>" method="post" data-remote="true" id="finish-reservation-form">
                <div class="display-flex mobile-block-display" style="flex-wrap: wrap;">
                    <div class="col-lg-8 add-margin-bottom">
                        <div class="card">
                            <div class="card-header background-cyan">
                                Let <%= @cook.first_name %> know you're excited
                            </div>
                            <div class="card-body" style="padding: 0;">
                                <textarea class="form-control no-box-shadow
                                    no-border background-transparent"
                                    name="reservation[additional_message]"
                                    style="height: 140px;"
                                    placeholder="Hi <%= @cook.first_name%>! We're really looking forward to enjoying your cooking!"
                                    style="padding: 15px !important;"></textarea>
                            </div>
                        </div>
                        
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-header background-cyan">
                                Reservation Tips & Disclaimers
                            </div>
                            
                            <div class="card-body">
                                <p>For an enjoyable booking process & experience, please follow these tips:</p>
                                
                                <ul class="add-margin-top">
                                    <% reservation_tips.each do |rt| %>
                                        <li class="font-15">
                                            <%= rt %>
                                        </li>
                                    <% end %>
                                </ul>
                                
                                <p class="add-margin-top">
                                    For any question and/or concern, please contact us
                                    at
                                    <a href="mailto:help@dinnerhost.co"
                                        class="background-transparent theme-cyan">
                                        help@dinnerhost.co
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body" align="center">
                                <div id="cook-avi" class="cursor-pointer"
                                    onclick="window.location.href='/c/<%= @cook.username %>'"
                                    style="height: 60px; width: 60px; margin: auto;
                                            overflow: hidden; border-radius: 30px;
                                            border: 0.5px solid #e7e7e9;">
                                    <img src="<%= @cook.image.url %>" alt="cook"
                                        style="height: auto; width: inherit;">
                                </div>
                                
                                <h5><%= @cook.first_name %></h5>
                                
                                <div class="cook-rating">
                                    <% 5.times.each_with_index do |s, idx| %>
                                        <span class="star">
                                            <i class="<%= star_rating(idx + 1, @cook) %> theme-cyan"
                                                style="font-size: 11px;"></i>
                                        </span>
                                    <% end %>
                                    <span class="rating-count" style="font-size: 12px;">
                                        <%= @cook.rating_count %>
                                    </span>
                                </div>
                                
                                <hr>
                                
                                <div class="reservation-details" align="center">
                                    <%= render partial: 'customers/reservation_details', locals: { reservation: @reservation } %>
                                </div>
                                
                                <hr>
                                
                                <p class="add-margin-top">
                                    <span class="bold">Total</span>: $<%= @reservation.fee %>
                                </p>
                                
                                <div id="finish-booking-div" style="margin-top: 20px;">
                                    <button class="btn btn-primary btn-block height-50" type="submit" data-disable-with="Finishing up...">
                                        Complete reservation
                                    </button>
                                </div>
                                
                                <p class="text-center font-13 add-margin-top">
                                    By requesting a cook, you agree to the DinnerHost
                                    <a href="/terms" class="background-transparent theme-cyan">
                                        terms of use</a>.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>