<div class="card cursor-pointer add-margin-bottom" id="selectTime" onclick="showDays()">
    <div class="card-body">
        <p style="add-margin-top add-margin-bottom">
            <span class="float-left" id="dayChosen">
                Today
            </span>
            <span class="float-right">
                <i class="fa fa-angle-down"></i>
            </span>
        </p>
    </div>
</div>
<div class="card add-margin-bottom" id="availableDays">
    <div class="card-body example-day cursor-pointer" onclick="pickDay(this)">
        <span style="display: none;"><%= date('today') %></span>
        <p style="add-margin-top add-margin-bottom">
            <span class="font-15">
                Today
            </span>
        </p>
    </div>
    <div class="card-body example-day cursor-pointer not-today" onclick="pickDay(this, 'not-day')">
        <span style="display: none;"><%= date('tomorrow') %></span>
        <p style="add-margin-top add-margin-bottom">
            <span class="font-15">
                Tomorrow (<%= date('tomorrow') %>)
            </span>
        </p>
    </div>
    <div class="card-body example-day cursor-pointer not-today" onclick="pickDay(this, 'not-day')">
        <span style="display: none;"><%= date('2 days') %></span>
        <p style="add-margin-top add-margin-bottom">
            <span class="font-15">
                <%= date('2 days') %>
            </span>
        </p>
    </div>
    <div class="card-body example-day cursor-pointer not-today" onclick="pickDay(this, 'not-day')">
        <span style="display: none;"><%= date('3 days') %></span>
        <p style="add-margin-top add-margin-bottom">
            <span class="font-15">
                <%= date('3 days') %>
            </span>
        </p>
    </div>
    <div class="card-body example-day cursor-pointer not-today" onclick="pickDay(this, 'not-day')">
        <span style="display: none;"><%= date('4 days') %></span>
        <p style="add-margin-top add-margin-bottom">
            <span class="font-15">
                <%= date('4 days') %>
            </span>
        </p>
    </div>
    <div class="card-body example-day cursor-pointer not-today" onclick="pickDay(this, 'not-day')">
        <span style="display: none;"><%= date('5 days') %></span>
        <p style="add-margin-top add-margin-bottom">
            <span class="font-15">
                <%= date('5 days') %>
            </span>
        </p>
    </div>
    <div class="card-body example-day cursor-pointer not-today" onclick="pickDay(this, 'not-day')">
        <span style="display: none;"><%= date('6 days') %></span>
        <p style="add-margin-top add-margin-bottom">
            <span class="font-15">
                <%= date('6 days') %>
            </span>
        </p>
    </div>
</div>

<div class="card cursor-pointer" id="showHours" onclick="showHours()">
    <div class="card-body">
        <p style="add-margin-top add-margin-bottom">
            <span class="float-left"  id="hourChosen">
                As soon as possible (~45mins)
            </span>
            <span class="float-right">
                <i class="fa fa-angle-down"></i>
            </span>
        </p>
    </div>
</div>

<div class="card cursor-pointer" id="hoursAvailable" style="display: none;">
    <div class="card-body example-day cursor-pointer as-soon-as-possible" onclick="pickHour(this)">
        <span style="display: none;">ASAP</span>
        <p style="add-margin-top add-margin-bottom">
            <span class="font-15">
                As soon as possible (~45mins)
            </span>
        </p>
    </div>
    <% hours_available.each do |h| %>
        <div class="card-body example-day cursor-pointer" onclick="pickHour(this)">
            <span style="display: none;"><%= h %></span>
            <p style="add-margin-top add-margin-bottom">
                <span class="font-15">
                    <%= h %>
                </span>
            </p>
        </div>
    <% end %>
</div>

