var count = $('#itemCount<%= @item_id %>').text();
var cartItemCount = $('#currentItemCount').text();
$('.add-to-cart<%= @item_id %>').css('opacity', '1')
.html('<i class="fa fa-plus-circle"></i> Add to cart');
$('#itemCount<%= @item_id %>').html('0');
document.getElementsByClassName('decrease-item-count<%= @item_id %>')[0].setAttribute('disabled', 'true');
$('#modalFooter<%= @item_id %>').html(`
    <button class="btn btn-danger box-shadow remove-from-cart<%= @item_id %>" id="<%= @item_id %>" onclick="removeFromCart(this)">
        <i class="fa fa-times-circle"></i> Remove (<span id="setForRemoval<%= @item_id %>"><%= current_cart.total(@item_id) %></span>) from cart
    </button>
`);
$('#cartContent').html(`
    <div class="modal-dialog" role="document">
        <div class="modal-content box-shadow batch-list" style="padding-bottom: 0; top: 50px;">
            <div class="modal-header">
                <h5 class="">
                    <i class="fa fa-shopping-cart"></i> Cart content
                </h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                </a>
            </div>
            <div class="modal-body" style="padding-top: 20px !important; min-height: 180px;">
                <% if @cart.item_list == '' %>
                    <p class="font-18">Your cart is empty</p>
                <% else %>
                    <h6 style="margin-bottom: 10px;">
                        Your order from 
                        <a href="<%= current_cart.get_store.url %>" class="background-transparent theme-color">
                            <%= current_cart.get_store.name %>
                        </a>
                    </h6>
                    <hr style="margin-bottom: 15px;">
                    <% @cart.item_list.split(', ').each_with_index do |i, idx| %>
                        <p class="font-18">
                            <span class="theme-green bold" style="margin-right: 5px;">
                                <%= @cart.item_list_count.split(', ')[idx] %>
                            </span>
                            <a class="btn btn-link" data-toggle="modal" data-target="#itemOrderDetails<%= i %>">
                                <%= @cart.item_list_name.split(', ')[idx] %>
                            </a>
                        </p>
                    <% end %>
                <% end %>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-md white" <% unless @cart.is_empty? || @cart.get_total_cost == 0.0 %>onclick="window.location.replace('<%= checkout_link %>')"<% end %>>
                    Checkout ($<%= @cart.get_total_cost %>)
                </a>
            </div>
        </div>
    </div>
`);
var new_total = parseInt(cartItemCount) + parseInt(count);
console.log(<%= @cart.item_count %>);
$('#cartItemCount').html("<%= @cart.item_count %>");
$('#currentItemCount').html("<%= @cart.item_count %>");
$('#cartItemCount1').html("<%= @cart.item_count %>");
$('#currentItemCount1').html("<%= @cart.item_count %>");