var type = "<%= @type %>";

if (type === "delivery") {
    $('#orderSnapshot').html(`
        <div class="card box-shadow">
            <div class="card-header" style="height: 160px; background-image: url(<%= @cart.get_store.banner_image %>); background-size: cover; background-position: center;" id="storeMap"></div>
            <div class="card-body">
                <h6><%= @cart.get_store.name %></h6>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <% @cart.item_list.split(', ').each_with_index do |i, idx| %>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="font-16">
                                <span class="float-left">
                                    <span style="margin-right: 5px;">
                                        <span class="theme-green bold"><%= @cart.item_list_count.split(', ')[idx] %></span> x
                                    </span>
                                    <span>
                                        <%= @cart.item_list_name.split(', ')[idx] %>
                                    </span>
                                </span>
                                <span class="float-right">
                                    <span>
                                        $<%= @cart.cost_for(i) %>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                <% end %>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <div class="row">
                    <div class="col-md-12 add-margin-bottom">
                        <h6>
                            <span class="float-left">
                                Subtotal
                            </span>
                            <span class="float-right">
                                $<%= @cart.total_cost.to_f.round(2) %>
                            </span>
                        </h6>
                    </div>
                    <div class="col-md-12 add-margin-bottom">
                        <h6 id="deliveryFee">
                            <span class="float-left">
                                Delivery
                            </span>
                            <span class="float-right">
                                <%= @cart.get_store.get_delivery_fee %>
                            </span>
                        </h6>
                    </div>
                    <div class="col-md-12">
                        <h6>
                            <span class="float-left">
                                Taxes & Fees
                            </span>
                            <span class="float-right">
                                $<%= load_taxes_and_fees(@cart, "delivery").round(2) %>
                            </span>
                        </h6>
                    </div>
                </div>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <div class="row">
                    <div class="col-md-12">
                        <h6>
                            <span class="float-left bold">
                                Total
                            </span>
                            <span class="float-right bold theme-green" id="withDeliveryFee">
                                $<%= load_final(@cart, "delivery").round(2) %>
                            </span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    `);
} else if (type === "pickup") {
    $('#orderSnapshot').html(`
        <div class="card box-shadow">
            <div class="card-header" style="height: 160px; background-image: url(<%= @cart.get_store.banner_image %>); background-size: cover; background-position: center;" id="storeMap"></div>
            <div class="card-body">
                <h6><%= @cart.get_store.name %></h6>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <% @cart.item_list.split(', ').each_with_index do |i, idx| %>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="font-16">
                                <span class="float-left">
                                    <span style="margin-right: 5px;">
                                        <span class="theme-green bold"><%= @cart.item_list_count.split(', ')[idx] %></span> x
                                    </span>
                                    <span>
                                        <%= @cart.item_list_name.split(', ')[idx] %>
                                    </span>
                                </span>
                                <span class="float-right">
                                    <span>
                                        $<%= @cart.cost_for(i) %>
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                <% end %>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <div class="row">
                    <div class="col-md-12 add-margin-bottom">
                        <h6>
                            <span class="float-left">
                                Subtotal
                            </span>
                            <span class="float-right">
                                $<%= @cart.total_cost.to_f.round(2) %>
                            </span>
                        </h6>
                    </div>
                    <div class="col-md-12">
                        <h6>
                            <span class="float-left">
                                Taxes & Fees
                            </span>
                            <span class="float-right">
                                $<%= load_taxes_and_fees(@cart, "pickup").round(2) %>
                            </span>
                        </h6>
                    </div>
                </div>
                <hr style="margin-bottom: 25px; margin-top: 25px;">
                <div class="row">
                    <div class="col-md-12">
                        <h6>
                            <span class="float-left bold">
                                Total
                            </span>
                            <span class="float-right bold theme-green" id="withDeliveryFee">
                                $<%= load_final(@cart, "pickup").round(2) %>
                            </span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    `);
}

<!--var orderTotal = <%= @cart.total_cost.to_f %>;-->
<!--var orderMinimum = <%= @cart.get_store.delivery_minimum.to_f %>;-->

<!--if (type === "pickup") {-->
<!--    $("#checkoutPayment").html(`-->
<!--        <% if @cart.get_store.has_a_bank_account %>-->
<!--            <form method="get" id="payment-form">-->
<!--                <div class="form-row row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div id="card-element" class="col-md-12"></div>-->
<!--                    </div>-->
<!--                    <div id="card-errors" role="alert" class="col-md-12"></div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12 complete-order add-margin-top">-->
<!--                        <button class="btn btn-primary btn-block height-55 white submit-btn" id="<%= guest_shopper.email %>"-->
<!--                            data-toggle="modal" data-target="#submitConfirmation">-->
<!--                            Submit order-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 add-margin-top">-->
<!--                        <p class="font-15">-->
<!--                            By placing an order, you agree to the-->
<!--                            <a class="theme-color background-transparent" href="/terms" target="_blank">-->
<!--                               terms and conditions -->
<!--                            </a>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        <% else %>-->
<!--            <h6 class="theme-red">*This store does not currently accept online payments</h6>-->
<!--            <button class="btn btn-primary btn-block height-55 white submit-btn" id="<%= guest_shopper.email %>"-->
<!--                data-toggle="modal" data-target="#submitConfirmationWithoutPayment" onclick="processOfflineOrder()">-->
<!--                Submit order & pay in person-->
<!--            </button>-->
<!--        <% end %>-->
<!--    `);-->
<!--} else {-->
<!--    if (orderTotal > orderMinimum) {-->
<!--        $("#checkoutPayment").html(`-->
<!--            <% if @cart.get_store.has_a_bank_account %>-->
<!--                <form method="get" id="payment-form">-->
<!--                    <div class="form-row row">-->
<!--                        <div class="col-md-12">-->
<!--                            <div id="card-element" class="col-md-12"></div>-->
<!--                        </div>-->
<!--                        <div id="card-errors" role="alert" class="col-md-12"></div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12 complete-order add-margin-top">-->
<!--                            <button class="btn btn-primary btn-block height-55 white submit-btn" id="<%= guest_shopper.email %>"-->
<!--                                data-toggle="modal" data-target="#submitConfirmation">-->
<!--                                Submit order-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="col-md-12 add-margin-top">-->
<!--                            <p class="font-15">-->
<!--                                By placing an order, you agree to the-->
<!--                                <a class="theme-color background-transparent" href="/terms" target="_blank">-->
<!--                                   terms and conditions -->
<!--                                </a>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            <% else %>-->
<!--                <h6 class="theme-red">*This store does not currently accept online payments</h6>-->
<!--                <button class="btn btn-primary btn-block height-55 white submit-btn" id="<%= guest_shopper.email %>"-->
<!--                    data-toggle="modal" data-target="#submitConfirmationWithoutPayment" onclick="processOfflineOrder()">-->
<!--                    Submit order & pay in person-->
<!--                </button>-->
<!--            <% end %>-->
<!--        `).load();-->
        <!--return false;-->
<!--    } else {-->
<!--        $("#checkoutPayment").html(`-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <p class="font-16">-->
<!--                        Your cart total is below the $<%= @cart.get_store.delivery_minimum %>-->
<!--                        minimum. Please add more items to checkout.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        `);-->
<!--    }-->
<!--}-->