$('#cartContent').html(`
    <div class="modal-dialog" role="document">
        <div class="modal-content box-shadow batch-list" style="padding-bottom: 0; top: 50px;">
            <div class="modal-header">
                <h5 class="">
                    <i class="fa fa-shopping-cart"></i> Cart content
                </h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
                </a>
            </div>
            <div class="modal-body" style="padding-top: 20px !important; min-height: 180px;">
                <% if @cart.item_list == '' %>
                    <p class="font-16">Your cart is empty</p>
                <% else %>
                    <h6 style="margin-bottom: 10px;">
                        Your order from 
                        <a href="<%= current_cart.get_store.url %>" class="background-transparent theme-color">
                            <%= current_cart.get_store.name %>
                        </a>
                    </h6>
                    <hr style="margin-bottom: 15px;">
                    <% @cart.item_list.split(', ').each_with_index do |i, idx| %>
                        <p class="font-16">
                            <span class="theme-green bold" style="margin-right: 5px;">
                                <%= @cart.item_list_count.split(', ')[idx] %>
                            </span>
                            <a class="btn btn-link" data-toggle="modal" data-target="#itemOrderDetails<%= i %>">
                                <%= @cart.item_list_name.split(', ')[idx] %>
                            </a>
                        </p>
                    <% end %>
                <% end %>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger white" onclick="clearCart()">
                    Clear cart
                </a>
                <a class="btn btn-primary btn-md white" <% unless @cart.is_empty? || @cart.get_total_cost == 0.0 %>onclick="window.location.replace('<%= checkout_link %>')"<% end %>>
                    Checkout ($<%= @cart.get_total_cost %>)
                </a>
            </div>
        </div>
    </div>
`);
$('#cartItemCount').html("0");
$('#currentItemCount').html("0");
$('#cartItemCount1').html("0");
$('#currentItemCount1').html("0");

var url_string = window.location.href;

if (url_string.includes('stores/')) {
    window.location.reload();
} else {
    window.location.replace('/');
}