<style>
  .field {
    text-align: right !important;
  }
</style>

<%= form_for(@meal, :html => { :multipart => true, :class => 'meal-form', :id => "meal_form" }) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
        <h2>This post could not be saved due to the following <%= pluralize(@meal.errors.count, "error") %>:</h2>

        <ul>
            <% @meal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  <span id="meal-id" class="no-display"><%= @meal.id %></span>
  <div class="field row">
    <div class="col-md-2">
      <label>Dish name</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :name, class:"form-control no-box-shadow height-50 font-15 pf", label: false, placeholder: "Provide a short but descriptive name for this dish", required: true %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Dish description<br /><span class="text-muted">(Max: 100 words)</span></label>
    </div>
    <div class="col-md-10">
      <%= f.text_area :description, class:"form-control no-box-shadow font-15 pf", style: "height: 200px !important;", label: false, placeholder: "Provide a brief description for this dish", required: true %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Cuisine type</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :meal_type, class:"form-control no-box-shadow height-50 font-15 pf", label: false, placeholder: "Ex: Cambodian", required: true %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Prep fee</label>
    </div>
    <div class="col-md-2">
      <%= f.text_field :prep_fee, class:"form-control no-box-shadow height-50 font-15 pf", label: false, required: true %>
    </div>
    
    <div class="col-md-3" style="width: 100%;">
      <div class="dropdown">
        <div style="border: 0.5px solid #e7e7e9; border-radius: 5px;"
          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" class="cursor-pointer">
          <div class="row">
            <div class="col-md-12" style="padding: 15px;">
              <p class="font-15 text-left" style="padding: 0 15px;">
                <span class="float-left" id='course-value'>
                  <%= @meal.course.present? ? @meal.course : "choose course" %>
                </span>
                <span class="float-right">
                  <i class="fa fa-angle-down"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
          style="padding-top: 0; padding-bottom: 0;">
          <a class="dropdown-item cursor-pointer"
            onclick="changeCourse('appetizer');">
            Appetizer
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor-pointer"
            onclick="changeCourse('Entree');">
            Entree
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor-pointer"
            onclick="changeCourse('Dessert');">
            Dessert
          </a>
        </div>
      </div>
      <%= f.text_field :course, class:"no-display", id: "course", label: false, value:"", required: true %>
    </div>
    
    <div class="col-md-2" style="width: 100%;">
      <div class="dropdown">
        <div style="border: 0.5px solid #e7e7e9; border-radius: 5px;"
          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" class="cursor-pointer">
          <div class="row">
            <div class="col-md-12" style="padding: 15px;">
              <p class="font-15 text-left" style="padding: 0 15px;">
                <span class="float-left" id='served'>
                  <%= @meal.serving_temperature.present? ? "served " + @meal.serving_temperature : "served hot" %>
                </span>
                <span class="float-right">
                  <i class="fa fa-angle-down"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
          style="padding-top: 0; padding-bottom: 0;">
          <a class="dropdown-item cursor-pointer"
            onclick="changeTemp('hot');">
            Hot
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor-pointer"
            onclick="changeTemp('cold');">
            Cold
          </a>
        </div>
      </div>
      <%= f.text_field :serving_temperature, class:"form-control no-box-shadow height-50 font-15 pf no-display", id: "serving-temp", label: false, value:"hot", required: true %>
    </div>
    
    <div class="col-md-3" style="width: 100%;">
      <div class="dropdown">
        <div style="border: 0.5px solid #e7e7e9; border-radius: 5px;"
          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" class="cursor-pointer">
          <div class="row">
            <div class="col-md-12" style="padding: 15px;">
              <p class="font-15 text-left" style="padding: 0 15px;">
                <span class="float-left" id='flavor-value'>
                  <%= @meal.flavor.present? ? @meal.flavor : "choose flavor" %>
                </span>
                <span class="float-right">
                  <i class="fa fa-angle-down"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
          style="padding-top: 0; padding-bottom: 0;">
          <a class="dropdown-item cursor-pointer"
            onclick="changeFlavor('Nonspicy');">
            Nonspicy
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor-pointer"
            onclick="changeFlavor('Mild');">
            Mild
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor-pointer"
            onclick="changeFlavor('Spicy');">
            Spicy
          </a>
        </div>
      </div>
      <%= f.text_field :flavor, class:"no-display", id: "flavor", label: false, value:"", required: true %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Allergens</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :allergens, class:"form-control no-box-shadow height-50 font-15 pf", label: false, placeholder: "Comma separated (Ex: peanuts, soya, shellfish, dairy...)", required: true %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Add tags</label>
    </div>
    <div class="col-md-10">
      <%= f.text_field :tags, class:"form-control no-box-shadow height-50 font-15 pf", label: false, placeholder: "Comma separated (Ex: chicken, paprika, portabello mushroom...)", required: true %>
    </div>
  </div>
  
  <div class="field row">
    <div class="col-md-2">
      <label>Add an image</label>
    </div>
    <div class="col-md-10">
      <div class="card cursor-pointer meal-image-card">
        <div class="card-body" align="center"
          style="height: 80px; background-image: url('<%= @meal.image.url if @meal.image.present? %>');
                background-position: center; background-size: cover;">
          <a class="btn btn-secondary box-shadow white">
            <span style="font-size; 20px;">
              <i class="fa fa-camera"></i> Browse
            </span>
          </a>
        </div>
        <div class="card-footer meal-image-name text-center">File name: </div>
      </div>
      <%= f.file_field :image, class:"form-control no-box-shadow height-50 font-15 pf no-display", id: "meal-image-input", label: false %>
    </div>
  </div>
  
  <div class="actions text-center action-button">
    <%= f.submit "Publish", class:"btn btn-primary height-50", id:"create_meal", data: { "disable-with": "Publishing your meal..." } %>
  </div>
<% end %>

<script type="text/javascript">
  
  $('.meal-image-card').on('click', e => {
    $('#meal-image-input').click();
  });
  
  $('#meal-image-input').on('change', e => {
    $('.meal-image-name').append($('#meal-image-input').get(0).files[0].name);
  });
  
  function showServingTemp() {
    $('.serving-temps').show();
  }
  
  function changeTemp(temp=null) {
    document.querySelector('#serving-temp').value = temp.toLowerCase();
    $('#served').text('served ' + temp);
  }
  
  function changeCourse(course=null) {
    document.querySelector('#course').value = course.toLowerCase();
    $('#course-value').text(course);
  }
  
  function changeFlavor(flavor=null) {
    document.querySelector('#flavor').value = flavor.toLowerCase();
    $('#flavor-value').text(flavor);
  }
    
</script>