<% if meals.present? %>
    <% meals.each do |m| %>
        <div class="col-md-4 add-margin-bottom meal-card add-padding-top" style="border-radius: 5px;">
            <a href="/dish/<%= m.id %>/<%= m.slug %>" class="background-transparent theme-blue no-underline">
                <div class="card cursor-pointer no-border">
                    <div class="card-body"
                        style="background-image: url('<%= m.image %>'); background-size: cover;
                            background-position: center; height: 150px; border-radius: 5px;">
                    </div>
                    
                    <div class="meal-card-footer">
                        <span class="font-15 float-left">
                            <%= m.name %>
                        </span>
                        
                        <span class="bold font-13 theme-blue float-right">
                            <span class="badge badge-primary"><%= m.meal_type %></span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    <% end %>
<% else %>
    <div class="col-md-12">
        <p>No listings found in your area. Our chefs are actively adding new listings, so check back soon!</p>
    </div>
    
    <div class="col-md-12" style="margin-top: 20px;">
        <a class="btn btn-primary box-shadow white"
            style="text-transform: uppercase;" href="/refer-a-chef">
            Refer a chef. Earn up to $10
        </a>
    </div>
<% end %>

<script>
    $mealCard = $('.meal-card');
    $mealCard.hover(shadowCard);
    
    function shadowCard() {
        $(this).toggleClass('box-shadow-amp');
    };
</script>