<section class="meal-page">
    <section id="meal-banner-image" style="background-image: url('<%= @meal.image.url %>');
        background-position: center; background-size: cover; height: 300px;
        border-bottom: 1px solid #000;"></section>
    <span id='meal-id' class="no-display"><%= @meal.id %></span>
    
    <div class="container" style="margin-top: 25px;">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="bold"><%= @meal.name %></h3>
                        <h5><%= @meal.meal_type %></h5>
                    </div>
                </div>
                <div class="row add-margin-top">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <p>
                                    This dish is generally considered a(n)
                                    <%= @meal.dish_order %>, is served
                                    <%= @meal.serving_temperature %>, and has
                                    <%= @meal.allergen_list %>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row add-margin-top">
                    <div class="col-md-12">
                        <p class="font-15"><%= @meal.description %></p>
                        <p><%= @meal.full_address %></p>
                    </div>
                </div>
                
                <hr>
                
                <div class="row add-margin-top">
                    <div class="col-md-12">
                        <% @meal.tags_list.each do |t| %>
                            <span class="font-15 badge badge-primary"
                                style="margin-right: 3px; margin-bottom: 5px;">
                                <%= t %>
                            </span>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        
                        <div id="cook-avi" align="center" class="cursor-pointer"
                            onclick="window.location.href='/c/<%= @cook.username %>'"
                            style="height: 64px; width: 64px; margin: auto;
                                    overflow: hidden; border-radius: 32px;
                                    border: 0.5px solid #e7e7e9;">
                            <img src="<%= @cook.image.url %>" alt="cook"
                                style="height: auto; width: inherit;">
                        </div>
                        
                        <div class="add-margin-top text-center">
                            <h5><%= @cook.first_name %></h5>
                        </div>
                        
                        <div class="cook-rating cursor-pointer" align="center"
                            <% if current_customer && current_customer.has_not_rated(@cook) %>
                                data-toggle="modal" data-target="#rateCook"
                            <% end %>>
                            <% 5.times.each_with_index do |s, idx| %>
                                <span class="star">
                                    <i class="<%= star_rating(idx + 1, @cook) %> theme-cyan"
                                        style="font-size: 15px;"></i>
                                </span>
                            <% end %>
                            <span class="rating-count" style="font-size: 14px;">
                                <%= @cook.rating_count %>
                            </span>&bull;
                            <span class="badge badge-success" style="font-size: 12px;">
                                <%= pluralize(@cook.meals.count, 'meal') %>
                            </span>
                        </div>
                        
                        <hr>
                        
                        <div id="view-cook-profile-btn-div" align="center" style="margin-top: 15px;">
                            <%= link_to book_path(:username => @cook.username), class:"btn btn-primary" do %>
                                Book <%= @cook.first_name %>
                            <% end %>
                            <%= link_to chef_path(@cook), class:"btn btn-secondary" do %>
                                View profile
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
