<% if current_chef %>
    <div class="dh-navbar-collapse box-shadow display-mobile">
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/new-dish" style="color: #000;">
                <i class="fa fa-plus-circle"></i> Add a dish
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/reservations" style="color: #000;">
                <i class="fa fa-calendar"></i> Reservations
                <% if pending_reservations %>
                    <span class="badge badge-success">
                        <%= pending_reservations_count %> new requests
                    </span>
                <% end %>
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/inbox" style="color: #000;">
                <i class="fa fa-envelope-o"></i> Messages <i class="<%= inbox_status %>" style="font-size: 8px; vertical-align: super !important;"></i>
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/chef/edit/profile" style="color: #000;">
                <i class="fa fa-user-circle"></i> Account Settings
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/chef/edit/payout" style="color: #000;">
                <i class="fa fa-credit-card"></i> Payout Settings
                <% if current_chef.payout_settings_incomplete %>
                    <span class="badge badge-warning">
                        incomplete
                    </span>
                <% end %>
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/chef/password-settings" style="color: #000;">
                <i class="fa fa-lock"></i> Password Settings
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/chef/edit/listings" style="color: #000;">
                <i class="fa fa-file-text-o"></i> My Listings
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <%= link_to destroy_chef_session_path, class:"background-transparent",
                style:"color: #000;", method: :delete do %>
                <i class="fa fa-sign-out"></i> Log Out
            <% end %>
        </div>
    </div>
<% elsif current_customer %>
    <div class="dh-navbar-collapse box-shadow display-mobile">
        <div class="dh-navbar-collapse-nav">
            <div id="pac-container" style="width: 100%;">
                <form action="/search" method="get" id="banner-search-form">
                    <div class="input-group mb-3"
                        style="margin-bottom: 0 !important; border-radius: 0; border: none;">
                        <input class="form-control" name="request_location"
                            id="banner-request-location" autocomplete="off"
                            placeholder="Search listings..." type="search"
                            style="height: 70px; font-size: 16px;
                                width: 50%; border-radius: 0; border: none;
                                box-shadow: none !important;" required="true"
                                onkeyup="adjustPacContainerWidth()">
                    </div>
                    <button class="no-display">Submit</button>
                </form>
                <div id="map" style="display: none;"></div>
                <div id="infowindow-content">
                </div>
            </div>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/wishlist" style="color: #000;">
                <i class="fa fa-bookmark"></i> Saved
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/bookings" style="color: #000;">
                <i class="fa fa-calendar"></i> Bookings
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/inbox" style="color: #000;">
                <i class="fa fa-envelope-o"></i> Messages <i class="<%= inbox_status %>" style="font-size: 8px; vertical-align: super !important;"></i>
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/edit/profile" style="color: #000;">
                <i class="fa fa-user-circle"></i> Account Settings
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/customer/password-settings" style="color: #000;">
                <i class="fa fa-lock"></i> Password Settings
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/edit/verification" style="color: #000;">
                <i class="fa fa-shield"></i> Verification
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" href="/refer-a-chef" style="color: #000;">
                <i class="fa fa-share-square-o"></i> Refer Chefs
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <%= link_to destroy_customer_session_path, class:"background-transparent", method: :delete do %>
                <i class="fa fa-sign-out"></i> Sign out
            <% end %>
        </div>
    </div>
<% else %>
    <div class="dh-navbar-collapse box-shadow display-mobile">
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" data-toggle="modal"
                data-target="#customerAuthentication" style="color: #000;">
                Diner Login
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent" style="color: #000;" href="/chef/login">
                Cook Login
            </a>
        </div>
        <div class="dh-navbar-collapse-nav">
            <a class="background-transparent font-blue bold" href="/join">
                Join DinnerHost
            </a>
        </div>
    </div>
<% end %>